__pycache__/
*.py[cod]
.vscode/
/venv
/print/*.conf
/print/*.qgs~
/static/images/print/STE_Signature.png
geomapshark/static/
gunicorn_log.log
static/tempfiles/
geomapshark/protected-static/
env.yaml
/docker-compose.override.yml
/permit_requests_uploads
/administrative_entity_customization
geomapshark/permit_requests_uploads/
private_documents/
/printed_permits
/qgisserver/*.qgs~
/qgisserver/*.conf
*.env
*.bak
