__pycache__/
*.py[cod]
.vscode/
/venv
/print/*.conf
/print/*.qgs~
gunicorn_log.log
geocity/protected-static/
geocity/apps/core/static/libs/js/advanced-geometry-edition/
env.yaml
/docker-compose.override.yml
/permit_requests_uploads
/administrative_entity_customization
geocity/permit_requests_uploads/
/printed_permits
*.env
*.bak
.coverage
env.backup
/media/
/geocity/tests/files/archive/*
/geocity/tests/reports/data/*/*.generated.*
/geocity/tests/reports/data/*/*.result.*
/_dev_volumes/
/geocity/apps/submissions/management/fixturize_data/fixturize.py
