version: "3"

volumes:
    gmsdata:
    qgis_projects:

services:
    web:
        image: gms_web
        restart: unless-stopped
        depends_on:
            - "qgisserver"
        build:
            context: ./
            args:
                dev_dependencies: "${DEV_DEPENDENCIES}"
        entrypoint: /code/entrypoint.sh
        command: "gunicorn geomapshark.wsgi -b :9000 --error-logfile gunicorn_log.log --workers=2 --threads=4 --worker-class=gthread"
        volumes:
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
            - qgis_projects:/qgis_projects
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"
    qgisserver:
        image: openquake/qgis-server:3.20
        restart: unless-stopped
        volumes:
            - ./qgisserver/geocity.qgs:/io/data/geocity.qgs:ro
            - ./qgisserver/plugins:/io/plugins
            - ./qgisserver/fonts:/usr/share/fonts
            - ./qgisserver/pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true
