# Overrides for development

volumes:
  pgdata:

services:
  web:
    # Uncomment those two lines for debug
    #tty: true
    #stdin_open: true
    build:
      args:
        ENV: DEV
    environment:
      ENV: DEV
    # Runserver for live reload
    command: "python3 manage.py runserver 0.0.0.0:9000"
    volumes:
      # Mount code for live reload
      - .:/code
      # For dev, set the temp folder in the main code directory, for convenience
      - ./_dev_volumes/private_documents:/private_documents
      - ./_dev_volumes/archive:/archive
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${DJANGO_DOCKER_PORT}:9000"

  postgres:
    image: postgis/postgis:16-3.4
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-U", "${PGUSER}" ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      - POSTGRES_USER=${PGUSER}
      - POSTGRES_PASSWORD=${PGPASSWORD}
      - POSTGRES_DB=${PGDATABASE}
    ports:
      - "${POSTGRES_DOCKER_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui
