version: "3"

volumes:
    gmsdata:
    pgdata:

services:
    web:
        image: gms_web
        tty: true
        stdin_open: true
        restart: unless-stopped
        depends_on:
            - "qgisserver"
            - "postgres"
        build:
            context: ./
            args:
                dev_dependencies: "${DEV_DEPENDENCIES}"
        entrypoint: /code/entrypoint_dev.sh
        command: "python3 manage.py runserver 0.0.0.0:9000"
        volumes:
            - .:/code #DEV ONLY!!!
            - ./private_documents:/private_documents
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"
        environment:
            - DJANGO_SETTINGS_MODULE=geomapshark.settings_dev

    qgisserver:
        image: openquake/qgis-server:3.22
        restart: unless-stopped
        depends_on:
            - "postgres"
        volumes:
            - ./qgisserver/geocity.qgs:/io/data/geocity.qgs:ro #default qgis project for mask layer
            - ./qgisserver/report_template.qgs:/io/data/report_template.qgs:ro
            - ./qgisserver/plugins/geocity_expressions:/io/plugins/geocity_expressions
            - ./qgisserver/plugins/atlasprint:/io/plugins/atlasprint
            - ./qgisserver/pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
            - ./private_documents:/private_documents #used to access to the private documents via a volume (check env.demo) search(ctrl+f) -> #access_to_private_document_local
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true
            - QGIS_SERVER_LOG_LEVEL=0
            - PREFIX_URL

    postgres:
        image: postgis/postgis:13-3.2
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${PGUSER}
            - POSTGRES_PASSWORD=${PGPASSWORD}
            - POSTGRES_DB=${PGDATABASE}
        ports:
            - "${POSTGRES_DOCKER_PORT}:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    mailhog:
        container_name: mailhog
        tty: true
        image: mailhog/mailhog
        logging:
            driver: 'none'  # disable saving logs
        ports:
            - 1025:1025 # smtp server
            - 8025:8025 # web ui
