version: "3"

volumes:
    gmsdata:
    pgdata:

services:
    web:
        image: gms_web
        restart: unless-stopped
        depends_on:
            - "qgisserver"
            - "postgres"
        build:
            context: ./
            args:
                dev_dependencies: "${DEV_DEPENDENCIES}"
        entrypoint: /code/entrypoint_demo.sh
        # command: "gunicorn geomapshark.wsgi -b :9000 --error-logfile gunicorn_log.log --workers=2 --threads=4 --worker-class=gthread"
        command: "python3 manage.py runserver 0.0.0.0:9000"
        volumes:
            - .:/code
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"

    qgisserver:
        image: openquake/qgis-server:3.20
        restart: unless-stopped
        depends_on:
            - "postgres"
        volumes:
            - ./qgisserver/geocity.qgs:/io/data/geocity.qgs:ro
            - ./qgisserver/pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true

    postgres:
        image: camptocamp/postgres:11
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${PGUSER}
            - POSTGRES_PASSWORD=${PGPASSWORD}
            - POSTGRES_DB=${PGDATABASE}
        ports:
            - "${POSTGRES_DOCKER_PORT}:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    mailhog:
        container_name: mailhog
        tty: true
        image: mailhog/mailhog
        logging:
            driver: 'none'  # disable saving logs
        ports:
            - 1025:1025 # smtp server
            - 8025:8025 # web ui
