version: "3"

volumes:
    gmsdata:
    qgis_projects:

services:
    web:
        image: gms_web
        restart: unless-stopped
        depends_on:
            - "qgisserver"
        build:
            context: ./
            args:
                dev_dependencies: "${DEV_DEPENDENCIES}"
        entrypoint: /code/entrypoint.sh
        command: "gunicorn geomapshark.wsgi -b :9000 --error-logfile gunicorn_log.log --workers=2 --threads=4 --worker-class=gthread"
        volumes:
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
            - qgis_projects:/qgis_projects
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"
        networks:
            - pdf_generation
            - default

    qgisserver:
        image: opengisch/qgis-server:3.22.7
        restart: unless-stopped
        volumes:
            - ./qgisserver/report_template.qgs:/io/data/report_template.qgs:ro
            - ./qgisserver/plugins/geocity_expressions:/io/plugins/geocity_expressions
            - ./qgisserver/plugins/atlasprint:/io/plugins/atlasprint
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true
            - PREFIX_URL

    qgis:
        restart: unless-stopped
        build:
            context: services/qgis
        networks:
            - pdf_generation

    pdf:
        restart: unless-stopped
        build:
            context: services/pdf
        networks:
            - pdf_generation
        environment:
            WEB_ROOT_URL: http://web:9000

networks:
    # custom network to restriction communication to between django<->pdf
    pdf_generation:
