version: "3"

volumes:
    gmsdata:
    pgdata:

services:
    web:
        image: gms_web
        restart: unless-stopped
        depends_on:
            - "qgisserver"
            - "postgres"
        build:
            context: ./
            args:
                dev_dependencies: ${DEV_DEPENDENCIES}
        entrypoint: /code/entrypoint_dev.sh
        command: "gunicorn geomapshark.wsgi -b :9000 --error-logfile gunicorn_log.log --workers=2 --threads=4 --worker-class=gthread"
        volumes:
            - .:/code #DEV ONLY!!!
            - ./private_documents:/private_documents
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"
        environment:
            - DJANGO_SETTINGS_MODULE=geomapshark.settings_dev

    qgisserver:
        image: openquake/qgis-server:3.16
        restart: unless-stopped
        depends_on:
            - "postgres"
        volumes:
            - ./qgisserver/geocity.qgs:/io/data/geocity.qgs:ro #default qgis project for mask layer
            - ./qgisserver/pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
            - ./private_documents:/private_documents #used to access to the private documents via a volume (check env.demo) search(ctrl+f) -> #access_to_private_document_local
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - PGSERVICEFILE=/data/qgisserver/pg_service.conf
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true
            - QGIS_SERVER_LOG_LEVEL=0

    postgres:
        image: camptocamp/postgres:11
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${PGUSER}
            - POSTGRES_PASSWORD=${PGPASSWORD}
            - POSTGRES_DB=${PGDATABASE}
        ports:
            - "${POSTGRES_DOCKER_PORT}:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
