version: "3"

volumes:
    gmsdata:
    pgdata:

services:
    web:
        image: gms_web
        restart: unless-stopped
        depends_on:
            - "qgisserver"
            - "postgres"
        build:
            context: ./
            args:
                dev_dependencies: "${DEV_DEPENDENCIES}"
        entrypoint: /code/entrypoint_demo.sh
        # command: "gunicorn geomapshark.wsgi -b :9000 --error-logfile gunicorn_log.log --workers=2 --threads=4 --worker-class=gthread"
        command: "python3 manage.py runserver 0.0.0.0:9000"
        volumes:
            - .:/code
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
            # to allow to spawn new QGIS containers
            - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - "${DJANGO_DOCKER_PORT}:9000"
        networks:
            - pdf_generation
            - default

    qgisserver:
        image: openquake/qgis-server:3.22
        restart: unless-stopped
        depends_on:
            - "postgres"
        volumes:
            - ./qgisserver/report_template.qgs:/io/data/report_template.qgs:ro
            - ./qgisserver/plugins/geocity_expressions:/io/plugins/geocity_expressions
            - ./qgisserver/plugins/atlasprint:/io/plugins/atlasprint
            - ${PRIVATE_DOCUMENTS_DIR}:/private_documents
        ports:
            - "${QGISSERVER_DOCKER_PORT}:80"
        environment:
            - QGIS_SERVER_PARALLEL_RENDERING=true
            - QGIS_SERVER_IGNORE_BAD_LAYERS=true
            - QGIS_SERVER_LOG_LEVEL=0
            - PREFIX_URL

    postgres:
        image: postgis/postgis:13-3.2
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${PGUSER}
            - POSTGRES_PASSWORD=${PGPASSWORD}
            - POSTGRES_DB=${PGDATABASE}
        ports:
            - "${POSTGRES_DOCKER_PORT}:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    mailhog:
        container_name: mailhog
        tty: true
        image: mailhog/mailhog
        logging:
            driver: 'none'  # disable saving logs
        ports:
            - 1025:1025 # smtp server
            - 8025:8025 # web ui

    qgis:
        image: geocity_qgis
        build:
            context: services/qgis

    pdf:
        image: geocity_pdf
        build:
            context: services/pdf



networks:
    # custom network to restriction communication to between django<->pdf
    pdf_generation:
