beautifulsoup4
Django<3
django-bootstrap-datepicker-plus
django-bootstrap4
django-filter
django-fontawesome
django-tables2
gdal
gunicorn
html5lib
jdcal
Pillow
pip-tools
psycopg2-binary
pytz
PyYAML
requests
WeasyPrint
whitenoise
