beautifulsoup4
Django
django-bootstrap-datepicker-plus
django-bootstrap4
django-filter
django-tables2
django-tables2-column-shifter
gdal
gunicorn
html5lib
jdcal
Pillow
psycopg2-binary
PyYAML
requests
# Required by django-tables2, which doesn't list it in their requirements
tablib[xlsx]
whitenoise
django-admin-sortable2
django-simple-history
djangorestframework
djangorestframework-gis
django-cors-headers
django-constance[database]
django-two-factor-auth[phonenumbers]
django-taggit
filetype
django-jazzmin
# Open authentication provider
django-oauth-toolkit
# Open authentication consumer
django-allauth==0.45.0
# django_wfs3 -> djangorestframework (optional for openapi schema generation, see https://www.django-rest-framework.org/api-guide/schemas/#install-dependencies)
pyyaml
uritemplate
django-crispy-forms
django-cron
django-axes
pdf2image
django-simple-captcha
django-rest-knox
django-ckeditor
Jinja2
docker
django-polymorphic
