beautifulsoup4
Django<4
django-bootstrap-datepicker-plus
django-bootstrap4
django-filter
django-tables2
django-tables2-column-shifter
gdal
gunicorn
html5lib
jdcal
Pillow
pip-tools
psycopg2-binary
pytz
PyYAML
requests
# Required by django-tables2, which doesn't list it in their requirements
tablib
WeasyPrint
whitenoise
tablib
pycairo
python-dotenv
django-admin-sortable2
django-grappelli
django-simple-history
djangorestframework
djangorestframework-gis
django-cors-headers
django-constance[database]
django-two-factor-auth[phonenumbers]
django-taggit