{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content-no-sidebar %}
<div id="login-welcome-text">
  <h3 class="text-center">{% trans "Demandes de permis touchant le territoire communal" %}</h3>
  <br>
  <h5 class="text-center">{% trans "Travaux de minime importance, abattages, fouilles, dépôts,..." %}</h5>
</div>
  <div id="login-container">
    <br>
    {% if form.errors %}
      <p class="text-danger font-weight-bold">{% trans "Votre mot de passe et votre nom d'utilisateur ne correspondent pas" %}</p>
    {% endif %}
    {% if next and user.is_authenticated %}
      <p id="login-issue">{% trans "Votre compte ne dispose pas des droits nécessaires pour accéder à cette page" %}</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="text-center px-md-5">
        <h4>{% trans "Connexion" %}</h4>
        <br>
        <p>{% trans "Connectez-vous à l'aide de vos identifiants" %}</p>
        <p>{% bootstrap_field form.username show_label=False %}</p>
        <p>{% bootstrap_field form.password show_label=False %}</p>
        <button class="btn btn-primary font-weight-bold" type="submit">{% trans "Suivant" %}</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br>
    <p><a class="font-weight-bold" href="{% url 'permits:permit_author_create' %}">{% trans "Créer un compte" %}</a></p>
    <p><a class="font-weight-bold" href="{% url 'password_reset' %}">{% trans "Perdu votre mot de passe ?" %}</a></p>
  </div>
  <div id="bottom-login-text">
    <h5 class="text-center">{% trans "Une application du Système d'Information du Territoire de la Ville d'Yverdon-les-bains" %} - <a href="https://mapnv.ch" target="_blank">mapnv.ch</a></h5>
  </div>
{% endblock %}
