{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}

{% if validlink %}

<h2>{% trans "Définissez un nouveau mot de passe" %}</h2>
<hr>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn-primary" type="submit" value="{% trans 'Changer mon mot de passe' %}">
</form>

{% else %}
<p>
  {% trans "Le lien de réinitialisation du mot de passe n'est pas valide, demandez en un à nouveau sur la" %} <a href="{% url 'login' %}"> page d'accueil</a>
</p>

{% endif %}

{% endblock %}
