{% load i18n %}{% autoescape off %}
{% trans "Bonjour," %}

{% trans "Une demande de réinitialisation de mot de passe a été demandée." %}

{% trans "Veuillez vous rendre sur cette page et choisir un nouveau mot de passe :" %}
{% block reset_link %}
{{custom_host}}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Votre nom d'utilisateur, en cas d'oubli:" %} {{ user.get_username }}

{% trans "Avec nos meilleures salutations," %}
{% trans "L'application de gestion des demandes" %}

{% trans "Ceci est un e-mail automatiquement. Veuillez ne pas répondre à cet e-mail." %}
{% endautoescape %}
