{% extends "base_generic.html" %}
{% load static %}
{% block stylesheets%}
  {% load fontawesome %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/gpf.css' %}">
{% endblock %}
{% block navbartitle %}<a class="navbar-brand responsive-banner" href="#">Applications du territoire</a>
{% endblock %}



{% block content %}



        {% if user.groups.all.0.name == "extern" %}
        <tr>
            <td><a href="{% url 'permits:permit_request_select_administrative_entity' %}"><img class="main_app_icon" src="{% static 'images/construction_permit.png'%}" alt=""></td>
            <td><a href="{% url 'gpf:listexterns' %}"><img class="main_app_icon" src="{% static 'images/theme_permis_fouille.png'%}" alt=""></td>
            <td><a href="{{apps.mapnv}}" target="_blank"><img class="main_app_icon" src="{% static 'images/theme_plan_de_ville.png'%}" alt=""></td>
            <td><a href="{{apps.mapnv}}/lidar" target="_blank"><img class="main_app_icon" src="{% static 'images/theme_3d.png'%}" alt=""></td>
        </tr>
        <tr>
          <td><a href="{% url 'permits:permit_request_select_administrative_entity' %}">Permis de construire</td>
          <td><a href="{% url 'gpf:list' %}">Permis de fouille</td>
          <td><a href="{{apps.mapnv}}" target="_blank">Géoportail</td>
          <td><a href="{{apps.mapnv}}/lidar" target="_blank">Géoportail 3D</td>
        </tr>
        {% else %}
        <table id="homepage_main_apps">
          <tr>
              <td><a href="{% url 'permits:permit_request_select_administrative_entity' %}"><img class="main_app_icon" src="{% static 'images/construction_permit.png'%}" alt=""></td>
              <td><a href="{% url 'gpf:list' %}"><img class="main_app_icon" src="{% static 'images/theme_permis_fouille.png'%}" alt=""></td>
              <td><a href="{{apps.mapnv}}" target="_blank"><img class="main_app_icon" src="{% static 'images/theme_plan_de_ville.png'%}" alt=""></td>
              <td><a href="{{apps.mapnv}}/lidar" target="_blank"><img class="main_app_icon" src="{% static 'images/theme_3d.png'%}" alt=""></td>
          </tr>
          <tr>
            <td><a href="{% url 'permits:permit_request_select_administrative_entity' %}">Permis de construire</td>
            <td><a href="{% url 'gpf:list' %}">Permis de fouille</td>
            <td><a href="{{apps.mapnv}}" target="_blank">Géoportail</td>
            <td><a href="{{apps.mapnv}}/lidar" target="_blank">Géoportail 3D</td>
          </tr>
        </table>
        <ul class="sidebar-nav app-list" style="margin-top: 50px; margin-left: 5%; width: 300px;">
          <li><a href="{{apps.yvent}}" target="_blank">Organisation d'événements</a></li>
          <li><a href="https://pro.mapnv.ch/admin" target="_blank">Interface d'administration des applications du territoire</a></li>
          <li><a href="{{apps.signalez}}" target="_blank">SIGNALEZ: gestion participative</a></li>
          <li><a href="https://mapnv.ch/cs" target="_blank">PDF du cadastre souterrain</a></li>
          <li><a href="https://mapnv.ch/evenementiel/evenementiel.php" target="_blank">Liste de sites d'événements</a></li>
          <li><a href="https://mapnv.ch/php/liste_rues.php" target="_blank">Liste de rues</a></li>
          <li><a href="https://mapnv.ch/php/sgn_liste.php" target="_blank">Liste de panneaux de signalisation</a></li>
          <li><a href="https://mapnv.ch/cyclotouriste" target="_blank">Rally Cyclotouriste (SPO)</a></li>
          <li><a href="https://mapnv.ch/batiments" target="_blank">Armoire à plans (BAT)</a></li>
          <li><a href="https://mapnv.ch/cityplan" target="_blank">QR Code vers les info touristiques</a></li>
          <li><a href="https://mapnv.ch/nona" target="_blank">Nonagénaires</a></li>
        </ul>
        {% endif %}

{% endblock %}
