{% extends "base_generic.html" %}

{% load static %}
{% load i18n %}

{% block stylesheets%}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block navbartitle %}<a class="navbar-brand responsive-banner" href="#">{% trans "Applications du territoire" %}</a>{% endblock %}

{% block content-no-sidebar %}
  <div class="semi-transparent-container">
    <h1 class="text-center">{% trans "Demandes de permis" %}</h1>
    <div class="text-center mt-4">
      <div class="main-app-item mr-4">
        <a href="{% url 'permits:permit_requests_list' %}">
          <img class="main-app-icon" src="{% static 'images/construction_permit.svg' %}" alt="{% trans "Permis de construire" %}">
          <br>
          {% trans "Permis de construire" %}
        </a>
      </div>

      <div class="main-app-item">
        <a href="{% url 'gpf:list' %}">
          <img class="main-app-icon" src="{% static 'images/theme_permis_fouille.svg' %}" alt="{% trans "Permis de fouille" %}">
          <br>
          {% trans "Permis de fouille" %}
        </a>
      </div>
    </div>
  </div>
{% endblock content-no-sidebar %}
