{% load i18n %}

<ul class="list-inline">
  {% if record.author == request.user.permitauthor and not record.can_be_edited_by_author or can_view %}
  <li>
    <a title="{% trans "Voir" %}" href="{% url 'permits:permit_request_detail' record.id %}">
      <i class="fa fa-eye fa-lg"></i>
    </a>
  </li>
  {% endif %}

  {% if record.author == request.user.permitauthor and record.can_be_edited_by_author or request.user.is_superuser or perms.permits.edit_permit_request and record.can_be_edited_by_pilot %}
      <li>
        <a title="{% trans "Modifier" %}" href="{% url 'permits:permit_request_properties' record.id %}">
          <i class="fa fa-edit fa-lg"></i>
        </a>
      </li>
  {% endif %}

  {% if record.author == request.user.permitauthor or request.user.is_superuser %}
    {% if record.can_be_deleted_by_author %}
      <li>
        <a title="{% trans "Supprimer la demande" %}" href="{% url 'permits:permit_request_delete' record.id %}">
          <i class="fa fa-trash fa-lg"></i>
        </a>
      </li>
    {% endif %}
  {% endif %}

  {% if record.author == request.user.permitauthor or request.user.is_superuser %}
    {% if record.can_be_submitted_by_author %}
      <li>
        <a title="{% trans "Envoyer" %}" href="{% url 'permits:permit_request_submit' record.id %}">
          <i class="fa fa-envelope fa-lg"></i>
        </a>
      </li>
    {% endif %}
  {% endif %}

  {% if record.author == request.user.permitauthor %}
    {% if record.prolongation_date %}
      {% if record.is_prolonged %}
      <!-- TODO: Allow renouveler plusieurs fois -->
<!--        <li>-->
<!--          <i class="fa fa-clock-o fa-lg" title="{% trans 'Renouvelée' %}"></i>-->
<!--        </li>-->
      {% else %}
        <li>
          <i class="fa fa-clock-o fa-lg" title="{% trans 'Prolongation en attente' %}"></i>
        </li>
      {% endif %}
    {% else %}
      {% if record.status == 2 or record.status == 3 or record.status == 4 %}
        <li>
          <a title="{% trans 'Demander une prolongation' %}" href="{% url 'permits:permit_request_properties' record.id %}">
            <i class="fa fa-clock-o fa-lg"></i>
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}


</ul>
