<!-- Customize the style -->
{% load i18n l10n %}
{% load static %}
<style>
    agenda-embed {
      --agd-color-primary: #FFA500;
      --agd-color-accent: #000000;
      --agd-headings-font-family: Roboto;
      --agd-headings-font-weight: 500;
      /* ... */
    }
  </style>

  <!-- Render the component -->
  <agenda-embed domain="culture" api-base-url="{{ api_root }}"></agenda-embed>

  <!-- Initialize the component -->
  <script type="module" src="{% static 'agenda-embed/node_modules/@geocity/agenda-embed/dist/agenda-embed.js' %}"></script>
