<!-- Customize the style -->
{% load i18n l10n %}
{% load static %}
<style>
    agenda-embed {
      --agd-color-primary: #008c6f;
      --agd-color-accent: #005d95;
      --agd-headings-font-family: Roboto;
      --agd-headings-font-weight: 500;
      /* ... */
    }
  </style>

  <!-- Render the component -->
  <agenda-embed api-base-url="{{ api_root }}"></agenda-embed>

  <!-- Initialize the component -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@geocity/agenda-embed"></script>
