@page {
  font-family: "{{report.layout.font}}";
  /* meta content (see https://www.quackit.com/css/at-rules/css_top-left-corner_at-rule.cfm) */
  @bottom-right-corner {
    content: counter(page);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @top-center {
    content: "Permis n°{{permit_request.id}}";
  }

  @bottom-center {
    content: "{% now "DATETIME_FORMAT" %}";
  }
}

.block-page-break {
  page-break-before: always;
}

pre {
  white-space: pre-wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border-bottom: solid 1px;
}

.bold {
  font-weight: bold;
}

/* sections */
.section-map img {
  max-width:100%;
  max-height:100%;
}

.section-author, .section-status {
  width: 49%;
  float: left;
}

.section-map, .section-amendpropertycomment, .section-detail, .section-file, .section-horizontalrule, .section-paragraph, .section-validationcomment, .section-contact, .section-planning {
  width: 100%;
  clear:both;
}

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex_item-50 {
  width:48%;
  padding-bottom: 20px;
}

.flex_item-100 {
  width:100%;
  padding-bottom: 20px;
}

.section-status {
  text-align: right;
}

/* flex boxes */
.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: column wrap; */
  justify-content: flex-start;
  /* align-items: stretch; */
  /* align-content: flex-start; */
  width: 100%;
}

/* Overrides from the layout */
@page {
  /* page size */
  size: {{report.layout.width}}mm {{report.layout.height}}mm;
  margin-top: {{report.layout.margin_top}}mm;
  margin-right: {{report.layout.margin_right}}mm;
  margin-bottom: {{report.layout.margin_bottom}}mm;
  margin-left: {{report.layout.margin_left}}mm;

  /* background */
  {% if report.layout.background %}
  background-image: url("{{report.layout.background.url}}");
  {% endif %}
  background-size: {{report.layout.width}}mm {{report.layout.height}}mm;
  background-position: -{{report.layout.margin_left}}mm -{{report.layout.margin_top}}mm;
}

body {
  font-family: "{{report.layout.font}}";
  font-size: 12px;
}
