#permit_choices {
  text-align:center;
  margin-top: 50px;
}

.main_app_icon {
  width: 150px;
}

h1 {
  text-align:center;
  margin-top:25px;
}

.caption {
    display: block;
}

.item {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}

@media all and (max-width: 799px){

  h1 {
    font-size: 1.5em;
  }
}
