.main-app-icon {
  width: 100%;
}

.main-app-item {
  display: inline-block;
  width: 150px;
}

body {
  background-color: var(--login-background-color) !important;
  font-family: "Roboto", "Helvetica", "Arial";
}


#login-container input {
  filter: none;
}

#login-content {
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center bottom;
  width: 60%;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
}

#login-container {
  width: 35%;
  padding: 25px 25px 15px 25px;
  background-color: #f7f7f7;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.login-welcome-text {
  width: 60%;
  color: black;
  float: left;
  text-align: left;
}

.left-button {
  float: left;
}

#landing-page-link {
  font-size:  1rem;
}


@media (max-width: 768px) {

  #login-content {
    width: 95%;
    height: 600px;
    background: none;
    margin-top: 10px;
  }

  #login-container {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
  }

  #login-container p, #login-container a {
    font-size: smaller;
  }

  .text-center {
    font-size: 20px !important;
  }

  .login-welcome-text .text-center {
    font-size: 15px;
  }

  .login-welcome-text {
    top: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    background: none;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
  }

  .login-welcome-text div {
    font-size: 0.9rem;
  }

  .application-title {
    visibility: visible !important;
  }

  #landing-page-link {
    font-size: 0.7rem;
  }

}
