.main-app-icon {
  width: 100%;
}

.main-app-item {
  display: inline-block;
  width: 150px;
}

body {
  background-image: url("../images/blanc_light_compact.jpg");
}

.semi-transparent-container {
  background-color: white;
  opacity: 0.85;
  padding-top: 50px;
  padding-bottom: 50px;
}

#login-container {
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 30px;
  background-color: white;
  opacity: 0.85;
}

#login-welcome-text {
  padding: 25px 25px 25px 25px;
  background-color: white;
  opacity: 0.85;
  width: 100%;
}

@media (max-width: 768px) {
  #login-container {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -10px;
    padding: 20px;
  }

  .text-center {
    font-size: 20px !important;
  }

  #login-welcome-text .text-center {
    font-size: 15px;
  }

  #login-welcome-text {
    height: 100px;
    top: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    background: none;
  }

  #login-welcome-text h5 {
    visibility: hidden;
  }

  #login-welcome-text div {
    visibility: hidden;
  }
}
