.main-app-icon {
  width: 100%;
}

.main-app-item {
  display: inline-block;
  width: 150px;
}

body {
  background-color: var(--login-background-color) !important;
}

.semi-transparent-container {
  background-color: var(--background-color);
  opacity: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

#login-container {
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 30px;
  background-color: var(--background-color);
  opacity: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 5px 3px rgba(255, 255, 255,0.75);
  -moz-box-shadow: -1px 1px 5px 3px rgba(255, 255, 255,0.75);
  box-shadow: -1px 1px 5px 3px rgba(255, 255, 255,0.75);
}

#login-welcome-text {
  padding: 25px 25px 25px 25px;
  color: white;
  max-width: 1000px;
  margin-top: 25px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.application-title {
  font-size: 30px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

@media (max-width: 768px) {
  #login-container {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -10px;
    padding: 20px;
  }

  .text-center {
    font-size: 20px !important;
  }

  #login-welcome-text .text-center {
    font-size: 15px;
  }

  #login-welcome-text {
    height: 100px;
    top: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    background: none;
  }

  #login-welcome-text h5 {
    visibility: hidden;
  }

  #login-welcome-text div {
    visibility: hidden;
  }

  .application-title {
    visibility: visible !important;
  }
}
