.required label {
  font-weight: bold;
}

.app-list li {
  margin: 0 0 15px 0;
  list-style-type: none;
}

.info-messages {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  min-height: 15px;
  color: #155760;
  display: inline-block;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
}

.responsive-btn {
  width: 245px;
}

h1 {
  font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
      font-size: 2rem;
  }

  h3 {
      font-size: 1.75rem;
  }
}

@media (max-width: 799px){

  .responsive-btn {
    margin-bottom: 10px;
    width: 245px;

  }

}

.progress-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  max-width: 820px;
  margin: 0 auto;
}

.progress-nav-item {
  flex: 1 1 auto;
  width: 80px;
}

.progress-nav-item, .progress-nav-item a {
  color: black;
}

.progress-nav-item-active {
  font-weight: bold;
}

.progress-nav-item-active .circle {
  background-color: #d5f763;
}

.progress-nav-item-done .circle-inner {
  background-color: #8bc435;
}

.progress-nav-item-partial .circle-inner {
  background-color: #ffbf00;
}

.circle {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid #d5d5da;
  position: relative;
}

.circle-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  line-height: 32px;
  border-radius: 100%;
  border: 1px solid transparent;
}

.pill {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  border-radius: 100%;
  background-color: var(--danger);
  color: white;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline > li {
  display: inline-block;
}

.list-inline > li:not(:first-child) {
  margin-left: 7px;
}

.text-right {
  text-align: right;
}

.box {
  padding: 1rem;
}

.box--default {
  background-color: var(--light);
}

.box--tabbed {
  border-color: #dee2e6;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.navbar {
  height: 100px;
  font-weight: bold;
  background-image: url('../images/blanc_light_navbar.jpg');
  background-size: cover;
}

#legal-infos {
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error-page {
  margin-left: 25%;
  width: 50%;

}

#list-info-title {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.new-request-btn {
  margin-left: 30px;
}
