body {
  color: var(--text-color);
  background-color: var(--background-color);
} 

/* Global boostrap4 styling  */
.btn {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
}

.form-control:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 5px var(--primary-color) !important;
}

.table {
	color: var(--table-color);
}

/* App specific */
.required label {
  font-weight: bold;
}

.required label:after {
  content: " *";
}

.app-list li {
  margin: 0 0 15px 0;
  list-style-type: none;
}

.info-messages {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  min-height: 15px;
  color: #155760;
  display: inline-block;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
}

.responsive-btn {
  width: 245px;
}

h1, h2, h3 {
  color: var(--title-color);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

.progress-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  max-width: 820px;
  margin: 0 auto;
}

.progress-nav-item {
  flex: 1 1 auto;
  width: 80px;
}

.progress-nav-item,
.progress-nav-item a {
  color: var(--text-color);
}

.progress-nav-item-active {
  font-weight: bold;
}

.progress-nav-item-active .circle {
  background-color: var(--primary-color);
}

.progress-nav-item-done .circle-inner {
  background-color: var(--primary-color);
  color: white;
}

.progress-nav-item-partial .circle-inner {
  background-color: #f1f4f8;
}

.navbar-light .navbar-brand {
	color: var(--title-color);
}

.circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid #d5d5da;
  position: relative;
}

.circle-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  line-height: 32px;
  border-radius: 100%;
  border: 1px solid transparent;
}

.pill {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  border-radius: 100%;
  background-color: #1865b5;
  color: white;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline > li {
  display: inline-block;
}

.list-inline > li:not(:first-child) {
  margin-left: 7px;
}

.text-right {
  text-align: right;
}

.box {
  padding: 1rem;
}

.box--default {
  background-color: var(--light);
}

.box--tabbed {
  border-color: #dee2e6;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.navbar {
  padding: 20px 16px;
  font-weight: bold;
  background-image: url("../images/blanc_light_navbar.jpg");
  background-size: cover;
}

#legal-infos {
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error-page {
  margin-left: 25%;
  width: 50%;
}

#list-info-title {
  font-size: 20px;
  font-weight: bold;
}

#new-request-btn {
  margin-top: 10px;
}

.no-wildcard:after {
  content: "" !important;
}

.fa-trash {
  color: crimson;
}

.table-container {
  overflow-x: auto;
}

.table-container .table thead th {
  vertical-align: top;
}

.permits-list {
  max-width: 1600px;
}

.permits-action-btns {
  display: flex;
  flex-direction: column;
}

.permits-action-btns a:not(:last-child) {
  margin-bottom: 10px;
}

.permits-action-btns a {
  margin-left: 0px;
}

/* Status styling */
[class^="status"] {
  color: black;
}

.status0 {
  /* STATUS_DRAFT */
  color: #DADBDF;
}
.status1 {
  /* STATUS_SUBMITTED_FOR_VALIDATION */
  color: #F88C52;
}
.status2 {
  /* STATUS_APPROVED */
  color: #008c6f;
}
.status3 {
  /* STATUS_PROCESSING */
  color: #2FA4A2;
}
.status4 {
  /* STATUS_AWAITING_SUPPLEMENT */
  color: #BD5947;
}
.status5 {
  /* STATUS_AWAITING_VALIDATION */
  color: #4285B0;
}
.status6 {
  /* STATUS_REJECTED */
  color: #DB5033;
}
.status7 {
  /* STATUS_RECEIVED */
  color: #A0B46F;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

/* /////////////////////////////////// */
/* Administrative Entity Input Group */
/* /////////////////////////////////// */


div.input-group {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
div.input-group label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
div.input-group label::before {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #EAEDED;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

div.input-group label::after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

div.input-group input:checked ~ label::before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

div.input-group input:checked ~ label::after {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

div.input-group input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

/* /////////////////////////////////// */
/* Responsive for smaller devices */
/* /////////////////////////////////// */


@media (min-width: 768px) {
  #new-request-btn {
    margin-top: 0px;
    margin-left: 20px;
  }

  .permits-action-btns {
    flex-direction: row;
  }

  .permits-action-btns a:not(:last-child) {
    margin-bottom: 0px;
  }

  .permits-action-btns a:not(:first-child) {
    margin-left: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {

  .progress-nav a {
    color: transparent;
  }

  .progress-nav-item {
    flex: 1 1 auto;
    width: 20px;
    height: 30px;
    color: transparent;
  }

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 0;
  }

  .circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    line-height: 15px;
    border-radius: 0;
    color: var(--title-color);
  }

  .pill {
    right: -8px;
    top: -8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }

}
