
@page {
 size: A4;
 font-family: arial, sans-serif;
 font-size: 10px;
 margin-top: 25px;
 @bottom-right {
   content: "page " counter(page) "/" counter(pages);
 }
 @bottom-left {
   content: "Tél.: ";
 }
 @bottom-center {
   content: "";
 }

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

td, th {
    border: 0.5px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
  background-color: #dddddd;
}

.controlled-line-height {
  line-height: 10px;
}

.first-column-dual td:nth-child(odd) {
    font-weight: bold;
    width: 35%;
}

.first-column-single td:nth-child(odd) {
    font-weight: bold;
    width: 20%;
}

caption {
  font-weight: bold;
  font-size: 14px;
  height: 15px;
}


body {
  font-family: arial;
}

#header{
  width: 100%;
  height: 50px;
  top: -25px;
  padding-top: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  position: relative;
}

#banner_right {
  float:right;
  height: 95%;
}

#banner_left {
  float:left;
  height: 95%;
}

#header .banner_center {
  position: absolute;
  bottom: 5px;
  left: 110px;
  font-weight: bold;
  font-size: 16px;
}

#non-valid-warning {
  color: red;
  font-weight: bold;
}

#permit_number {
  font-weight: bold;
  font-size: 12px;
}

#print_date {
  font-size: 6px;
  color: gray;
  position: fixed;
  right: 0;
  bottom: -20px;;
  width: 100%;
  text-align: right;
}

#signature {
  width: 10px;
  height: 10px;
}

.map-print-image {
  width: 100%;
  height: auto;
}

#print-map-container {
  position: absolute;
  bottom: 200px;
  left: -200px;
  width: 960px;
  height: 600px;
  background-color: gray;
  transform:rotate(-90deg);
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white !important;
    border: 0;
    font-weight: bold;
}
