body {
  font-family: arial;
}

p {
  margin: 0.5em;
}

#header{
  width: 100%;
  height: 50px;
  top: -25px;
  padding-top: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  position: relative;
}

#header .banner_center {
  position: absolute;
  bottom: 5px;
  left: 110px;
  font-weight: bold;
  font-size: 16px;
}

#non-valid-warning {
  color: red;
  font-weight: bold;
}

#permit_number {
  font-weight: bold;
  font-size: 12px;
}

#print_date {
  font-size: 6px;
  color: gray;
  position: fixed;
  right: 0;
  bottom: -20px;;
  width: 100%;
  text-align: right;
}

.map-print-image {
  width: 100%;
  height: auto;
}

#print-map-container {
  position: absolute;
  bottom: 200px;
  left: -200px;
  width: 960px;
  height: 600px;
  background-color: gray;
  transform:rotate(-90deg);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#logo_main {
  float:left;
  height: 95%;
  max-height: 100px;
}

#logo_secondary {
  float:right;
  height: 95%;
  max-height: 100px;
}

#image_signature_1 {
  max-height: 100px;
}

#image_signature_2 {
  max-height: 100px;
}
