{% load i18n %}
{% load bootstrap4 %}

<div class="card mb-3">
  <div class="card-body">
    <a data-toggle="collapse" href="#planning-{{ form_id }}">
      <h4 class="card-title">
        {% trans "Planning et localisation" %} <span data-geo-time-role="formNumber">{{ form_number }}</span>
      </h4>
    </a>
    <div class="collapse{% if open %} show{% endif %}" id="planning-{{ form_id }}" data-geo-time-role="form">
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
</div>
