{% load i18n %}
{% load bootstrap4 %}

<div class="container">
  {% if forms.amend or forms.request_validation or forms.validate or forms.poke %}
  <h2>{% trans "" %}</h2>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs" id="actions-tabs" role="tablist">

      {% if forms.amend %}

          <li class="nav-item">
              <a class="btn btn-primary btn-action nav-link{% if active_form == "amend" %} active{% endif %}" id="amend-tab" data-toggle="tab" href="#amend" role="tab" aria-controls="amend" aria-selected="{% if active_form == "amend" %}true{% else %}false{% endif %}">{% trans "Traitement" %}</a>
          </li>

      {% endif %}

      {% if forms.request_validation %}

          <li class="nav-item">
              <a class="btn btn-primary btn-action nav-link{% if active_form == "request_validation" %} active{% endif %}" id="request-validation-tab" data-toggle="tab" href="#request-validation" role="tab" aria-controls="request-validation" aria-selected="{% if active_form == "request_validation" %}true{% else %}false{% endif %}">{% trans "Envoi pour validation" %}</a>
          </li>

      {% endif %}

      {% if forms.validate %}

          <li class="nav-item">
              <a class="btn btn-primary btn-action nav-link{% if active_form == "validate" %} active{% endif %}" id="validate-tab" data-toggle="tab" href="#validate" role="tab" aria-controls="validate" aria-selected="{% if active_form == "validate" %}true{% else %}false{% endif %}">
              {% trans "Validation" %}
              </a>
          </li>

      {% endif %}

      {% if has_permission_to_classify and print_templates %}

        <li class="nav-item">
        <a class="btn btn-primary btn-action nav-link" id="print-tab" data-toggle="tab" href="#print" role="tab" aria-controls="print">
            {% trans "Impression" %}
        </a>
        </li>

      {% endif %}

      {% if has_permission_to_classify and directives %}

        <li class="nav-item">
        <a class="btn btn-primary btn-action nav-link" id="directives-tab" data-toggle="tab" href="#directives" role="tab" aria-controls="directives">
            {% trans "Directives" %}
        </a>
        </li>

      {% endif %}

      {% if forms.poke or can_classify %}

          <li class="nav-item">
              <a class="btn btn-primary btn-action nav-link{% if active_form == "poke" %} active{% endif %}" id="classify-tab" data-toggle="tab" href="#classify" role="tab" aria-controls="classify" aria-selected="{% if active_form == "poke" %}true{% else %}false{% endif %}">
              {% trans "Classement" %}
              </a>
          </li>

      {% endif %}

      {% if forms.prolong and prolongation_enabled %}

          <li class="nav-item">
              <a class="btn btn-primary btn-action nav-link{% if active_form == 'prolong' %} active{% endif %}" id="classify-tab" data-toggle="tab" href="#prolong" role="tab" aria-controls="prolong" aria-selected="{% if active_form == 'prolong' %}true{% else %}false{% endif %}">
              {% trans "Prolongation" %}
              </a>
          </li>

      {% endif %}

        <li class="nav-item">
          <a class="btn btn-primary btn-action nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents">
              Documents
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="row sub-row">
    <div class="col">
      <div class="pt-3 tab-content box box--default box--tabbed">

        {% if forms.amend %}
            <div class="tab-pane{% if active_form == "amend" %} show active{% endif %}" id="amend" role="tabpanel" aria-labelledby="amend-tab">
                <h4>{% trans "Informations générales" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {% for field in forms.amend.get_base_fields %}
                        {% bootstrap_field field layout='horizontal'%}
                    {% endfor %}

                    {% for object_type, fields in forms.amend.get_fields_by_object_type %}
                        {% if fields %}
                            <h4 class="my-5">{{ object_type }}</h4>
                            {% for field in fields %}
                                {% bootstrap_field field layout='horizontal'%}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <div class="text-right">
                        <input name="action" type="hidden" value="amend">
                        <button class="btn btn-primary" {% if forms.amend.disabled %}disabled{% endif %}>{% trans "Enregistrer" %}</button>
                        <button class="btn btn-primary" name="save_continue" {% if forms.amend.disabled %}disabled{% endif %}>{% trans "Enregistrer et continuer les modifications" %}</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if forms.request_validation %}
            <div class="tab-pane{% if active_form == "request_validation" %} show active{% endif %}" id="request-validation" role="tabpanel" aria-labelledby="request-validation-tab">
                <h4>{% trans "Envoi aux services pour validation" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {% bootstrap_form forms.request_validation layout='horizontal' %}
                    <div class="text-right">
                        <input name="action" type="hidden" value="request_validation">
                        <button class="btn btn-primary" {% if forms.request_validation.disabled %}disabled{% endif %}>{% trans "Envoyer pour validation" %}</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if forms.validate %}
            <div class="tab-pane{% if active_form == "validate" %} show active{% endif  %}" id="validate" role="tabpanel" aria-labelledby="validate-tab">
                <h4>{% trans "Réponse à la demande de validation" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {% bootstrap_form forms.validate layout='horizontal' %}
                    <div class="text-right">
                        <input name="action" type="hidden" value="validate">
                        <button class="btn btn-primary" {% if forms.validate.disabled %}disabled{% endif %}>{% trans "Soumettre" %}</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if print_templates %}
            <div class="tab-pane" id="print" role="tabpanel" aria-labelledby="print-tab">
                <h4>{% trans "Impression de documents" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {% for print_template in print_templates %}
                        <button class="btn btn-primary mr-3" formaction="{% url 'permits:permit_request_print' permit_request_id=permit_request.pk template_id=print_template.pk %}">
                            <i class="fa fa-print" aria-hidden="true"></i> {{ print_template.description  }}
                        </button>
                    {% endfor %}
                </form>
            </div>
        {% endif %}

        {% if directives %}
            <div class="tab-pane" id="directives" role="tabpanel" aria-labelledby="directives-tab">
                <h4>{% trans "Directives liées à la demande" %}</h4>

                {% for directive_file, directive_description, additional_information in directives %}
                    <div{% if not forloop.last %} class="mb-3"{% endif %}>
                      {% if directive_file and directive_description %}
                          <span class="directive_description">{{ directive_description }}</span>:
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <a class="directive_file" href="{{ directive_file.url }}" target="_blank" rel="noreferrer">{% trans "Télécharger le fichier" %}</a>
                          <br>
                      {% endif %}

                      {% if additional_information %}
                          <span class="additional_information">{{ additional_information }}</span>
                      {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if forms.poke or can_classify %}
            <div class="tab-pane{% if active_form == "poke" or not active_form and can_classify %} show active{% endif  %}" id="classify" role="tabpanel" aria-labelledby="classify-tab">
                <h4>{% trans "Classement de la demande" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {% if nb_pending_validations and not forms.poke.disabled %}
                        <div class="form-text text-muted mb-3">{% trans "La demande ne peut pas être classée car elle est toujours en attente de validation." %}</div>
                        <div class="text-right">
                            <button name="action" value="poke" class="btn btn-primary">
                                {% blocktrans trimmed count counter=nb_pending_validations %}
                                Envoyer un rappel au service
                                {% plural %}
                                Envoyer des rappels à {{ counter }} services
                                {% endblocktrans %}
                            </button>
                        </div>

                    {% elif has_permission_to_classify %}
                        {% if not can_classify %}
                            <div class="form-text text-muted mb-3">{% trans "La demande ne peut pas être classée car elle n'a pas encore été envoyée en validation." %}</div>
                        {% else %}
                            <div class="form-text text-muted mb-3">{% trans "Un message facultatif pourra être ajouté à la réponse à la page suivante." %}</div>
                            <div class="text-right">
                                <a href="{% url 'permits:permit_request_reject' permit_request_id=permit_request.pk %}" class="btn btn-primary ">
                                    {% trans "Refuser" %}
                                </a>
                                <a href="{% url 'permits:permit_request_approve' permit_request_id=permit_request.pk %}" class="btn btn-primary">
                                    {% trans "Approuver" %}
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        {% endif %}

        {% if forms.prolong and prolongation_enabled %}
            <div class="tab-pane{% if active_form == 'prolong' %} show active{% endif  %}" id="prolong" role="tabpanel" aria-labelledby="prolong-tab">
                <h4>{% trans "Prolongation de la demande" %}</h4>
                <form method="post">
                    {% csrf_token %}

                    {{ forms.prolong.media }}
                    {% if not forms.prolong.prolongation_date.value %}
                        <div class="form-text text-muted mb-3">{% trans "Aucune prolongation n'a été demandée par l'auteur-e." %}</div>
                    {% endif %}

                    {% bootstrap_form forms.prolong layout='horizontal' %}
                    <div class="text-right">
                        <input name="action" type="hidden" value="prolong">
                        <button class="btn btn-primary" {% if forms.prolong.disabled %}disabled{% endif %}>{% trans "Enregistrer" %}</button>
                        <button class="btn btn-primary" name="save_continue" {% if forms.prolong.disabled %}disabled{% endif %}>{% trans "Enregistrer et continuer les modifications" %}</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if forms.complementary_documents %}
          <div class="tab-pane" id="documents" role="tabpanel" aria-labelledby="documents-tab">
              <h4>Ajout de documents à la demande</h4>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="single-complementary-form">
                  {% bootstrap_form forms.complementary_documents layout='horizontal' %}
                </div>
                <div class="text-right">
                  <input name="action" type="hidden" value="complementary_documents">
                  <button class="btn btn-primary" {% if forms.complementary_documents.disabled %}disabled{% endif %}>{% trans "Enregistrer" %}</button>
                  <button class="btn btn-primary" name="save_continue" {% if forms.complementary_documents.disabled %}disabled{% endif %}>{% trans "Enregistrer et continuer les modifications" %}</button>
                </div>
              </form>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  {% endif %}
</div>
