{% load i18n %}
{% load bootstrap4 %}
{% load permits_extras %}

{% regroup amend_custom_properties_values by works_object_type_choice as grouped_custom_properties %}
{% for object, properties, appendices in objects_infos %}
  <h4>{{ object }}</h4>
  <dl>
    {% for field in properties %}
      <dt>{{ field.label }}</dt>
      <dd>
        {% if not field.value %}
          <em>{% trans "Information non fournie" %}</em>
        {% else %}
          {{ field.value }}
        {% endif %}
      </dd>
    {% endfor %}

    {% for field in appendices %}
      <dt>{{ field.label }}</dt>
      <dd>
        {% if not field.value %}
          <em>{% trans "Information non fournie" %}</em>
        {% else %}
          <a href="{{ field.value.url }}" target="_blank">{{ field.value.name|basename }}</a>
        {% endif %}
      </dd>
    {% endfor %}

    {% for object_properties in grouped_custom_properties %}
      {% ifequal object_properties.grouper.works_object_type object %}
        <h5>{% trans "Information du service responsable" %}</h5>
        <dl>
          {% for prop in object_properties.list %}
            <dt>{{ prop.property }}</dt>
            <dd>{{ prop.value }}</dd>
          {% endfor %}
        </dl>
      {% endifequal %}
    {% endfor %}

  </dl>
{% endfor %}

{% for geo_time_form in geo_time_formset %}
  {{ geo_time_form.media }}
  {% include "permits/_geo_time_form.html" with form=geo_time_form form_id=forloop.counter0 form_number=forloop.counter open=True %}
{% endfor %}

{% if contacts %}
  <br>
  <h4>{% trans "Contacts" %}</h4>
  <b>Destinataire de la facture</b>: {{ creditor }}
    {% for contact_type, contact_infos in contacts %}
    <h5>{{ contact_type }}</h5>
    <dl>
      {% for field_label, field_value in contact_infos %}
        {% if field_value %}
          <dt>
            {{ field_label }}
          </dt>
          <dd>
            {{ field_value }}
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
  {% endfor %}
{% endif %}

{% if intersected_geometries %}
  <h4>{% trans "Éléments géographiques touchés par la demande (automatique)" %}</h4>
  {{ intersected_geometries|safe }}
{% endif %}
