<style>
    *, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }


  /* Form Progress */
  .progress {
    width: 1000px;
    height: 80px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }

  .progress .circle,
  .progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    margin-left: 100px;
  }
  .progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }

  .progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }

  /* Done / Partial */
  .progress .bar.done,
  .progress .circle.done {
    background: #eee;
  }

  .progress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }

  .progress .circle.done .title {
    color: #444;
  }

  .progress .circle.partial .label {
    color: #FFF;
    background: #ffbf00;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }

  .active-step {
    color: black !important;
    font-weight: bold !important;
  }

  .enabled-step .label {
    color: black !important;
  }

</style>

<!-- from https://codepen.io/himanshu/pen/syLAh -->
<div class="progress">
{% for key, value in steps.items %}
      <div class="circle {{value.state}} {{value.enabled}}">
        {% if value.enabled == "enabled-step" %}
        <a href="{{value.url}}"
          <span class="label">{{value.number}}</span>
          <span class="title {{value.current}}">{{value.name}}</span>
        </a>
        {% else %}
          <span class="label">{{value.number}}</span>
          <span class="title {{value.current}}">{{value.name}}</span>
        {% endif %}
        {{steps.errors}}
      </div>
{% endfor %}
</div>
