{% extends "base_permits.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block navbar %}
{% load permit_progressbar %}
{% endblock navbar %}

{% block content-no-sidebar %}
{% permit_progressbar permit_request 'WorksTypesForm' %}
<hr>
<div class="container mt-3">
  <h3>{% trans "Sélectionnez les types de travaux" %}</h3>
  <h6>La demande est sera traitée par: {{permit_request.administrative_entity}} </h6>
  <h6>La demande est localisée ici : {{permit_request.city_name}} - {{permit_request.street_name}}, {{permit_request.street_number}}</h6>
  <hr>
  <form method="post">
    {% bootstrap_form_errors works_types_form %}

    {% csrf_token %}

    {% bootstrap_field works_types_form.types show_label=False %}

    {% buttons %}
      <a href="{% url 'permits:permit_request_select_administrative_entity' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock content-no-sidebar %}
