{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block content %}
  {% permit_progressbar steps StepType.WORKS_TYPES %}
  <h3>{{ config.WORKS_TYPES_STEP }}</h3>
  {% if typefilter %}
    {% trans "La liste ci-dessous est filtrée," %}<a class="ml-2" href="{% url 'permits:permit_request_select_types' permit_request_id=permit_request.pk %}?cleartypefilter=true">{% trans "tout voir" %}</a>
  {% endif %}
  <hr>
  <form method="post">
    {% bootstrap_form_errors works_types_form %}

    {% csrf_token %}

    {% bootstrap_field works_types_form.types show_label=False %}

    {% buttons %}
      {% if previous_step.url %}
        <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
      {% endif %}
      <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
