{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block content %}
  {% permit_progressbar permit_request StepType.OBJECTS_TYPES %}
  <h3>{{ config.OBJECTS_TYPES_STEP }}</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors works_objects_form %}

    {% for field in works_objects_form %}
      <h4>{{ field.label }}</h4>
      {% bootstrap_field field show_label=False %}
    {% endfor %}

    {% buttons %}
      <a href="{% url 'permits:permit_request_select_types' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
