{% extends "base_permits.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load permits_extras %}

{% block content-no-sidebar %}
  <div class="container">
    <h1>{% blocktrans with request_id=permit_request.pk %}Demande #{{ request_id }}{% endblocktrans %}</h1>
    <p title="">
    </p>
    <dl>
      <dt>{% trans "Date de création" %}</dt>
      <dd title="{{ permit_request.created_at }}">
        {% blocktrans with request_date=permit_request.created_at|timesince %}Il y a {{ request_date }}{% endblocktrans %}
      </dd>
      <dt>{% trans "Statut" %}</dt>
      <dd>{{ permit_request.get_status_display }}</dd>
      <dt>{% trans "Auteur-e" %}</dt>
      <dd>
        <a href="mailto:{{ permit_request.author }} <{{ permit_request.author.email }}>" target="_blank">
          {{ permit_request.author }} &lt;{{ permit_request.author.email }}&gt;
        </a>
      </dd>
    </dl>

    {% permit_request_summary permit_request %}

    {% if forms.amend or forms.request_validation %}
      <h2>{% trans "Actions" %}</h2>
      <ul class="nav nav-tabs" id="actions-tabs" role="tablist">
        {% if forms.amend %}
          <li class="nav-item">
            <a class="nav-link active" id="amend-tab" data-toggle="tab" href="#amend" role="tab" aria-controls="amend" aria-selected="true">{% trans "Amender" %}</a>
          </li>
        {% endif %}

        {% if forms.request_validation %}
          <li class="nav-item">
            <a class="nav-link" id="validate-tab" data-toggle="tab" href="#validate" role="tab" aria-controls="validate" aria-selected="false">{% trans "Envoyer pour validation" %}</a>
          </li>
        {% endif %}
      </ul>
      <div class="pt-3 tab-content box box--default">
        {% if forms.amend %}
          <div class="tab-pane show active" id="amend" role="tabpanel" aria-labelledby="amend-tab">
            <form method="post">
              {% csrf_token %}

              {% bootstrap_form forms.amend layout='horizontal' %}

              <div class="text-right">
                <input name="action" type="hidden" value="amend">
                <button class="btn btn-primary">{% trans "Amender" %}</button>
              </div>
            </form>
          </div>
        {% endif %}

        {% if forms.request_validation %}
        <div class="tab-pane" id="validate" role="tabpanel" aria-labelledby="validate-tab">
          <form method="post">
            {% csrf_token %}

            {% bootstrap_form forms.request_validation layout='horizontal' %}

            <div class="text-right">
              <input name="action" type="hidden" value="request_validation">
              <button class="btn btn-primary">{% trans "Envoyer pour validation" %}</button>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    {% endif %}

    <p class="mt-4">
      <a href="{% url 'permits:permit_requests_list' %}">{% trans "Retour à la liste des demandes" %}</a>
    </p>
  </div>
{% endblock %}
