{% extends "base_permits.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content-no-sidebar %}
<div class="container">
  <h3>{% trans "Renseignez les annexes" %}</h3>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for object_type, fields in object_types %}
      <h4>{{ object_type }}</h4>
      {% for field in fields %}
        {% bootstrap_field field %}
      {% endfor %}
    {% empty %}
      {% trans "Aucune annexe requise pour cette demande de permis." %}
    {% endfor %}

    {% buttons %}
    <a href="{% url 'permits:permit_request_properties' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
    <button class="btn btn-primary">
      {% if object_types %}
        {% trans "Enregistrer et continuer" %}
      {% else %}
        {% trans "Continuer" %}
      {% endif %}
    </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
