{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<div class="d-flex flex-row center-table">

  <div class="p-2">
      <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
        <i class="fa fa-filter"></i>
        {% trans "Filtrer" %}
    </a>
  </div>
  <div class="p-2">
      <a class="btn btn-outline-primary" href="{% url 'permits:permit_requests_list' %}" role="button">
        <i class="fa fa-eraser"></i>
        {% trans "Effacer le filtre" %}
      </a>
  </div>
  <div class="p-2">
    {% with request.user.groups.all|first as group %}
      {% if group.permitdepartment.administrative_entity.archive_link != '' %}
        {% if request.user.groups.all.count > 0 %}
          <a class="btn btn-outline-primary" href="{{group.permitdepartment.administrative_entity.archive_link}}" role="button" target="_blank" rel="noreferrer">
            <i class="fa fa-archive"></i>
            {% trans "Archives" %}</a>
        {% endif %}
      {% endif %}
    {% endwith %}
  </div>

</div>

{{ filter.form.media }}

<div class="d-flex flex-row">
  <form class="permits-list center-table" method="get">
    <div class="collapse" id="collapseFilter">
      {% bootstrap_form filter.form layout='horizontal' %}
      {% bootstrap_button "Appliquer le filtre" button_type="submit" button_class="btn-primary"%}
    </div>
  </form>
</div>