{% extends "base_permits.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permit_progressbar %}
{% block content-no-sidebar %}
{% permit_progressbar permit_request 'WorksObjectsPropertiesForm' %}
<div class="container mt-3">
  <h3>{% trans "Renseignez les caractéristiques des objets" %}</h3>
  <h6>La demande est sera traitée par: {{permit_request.administrative_entity}} </h6>
  <h6>La demande est localisée ici : {{permit_request.city_name}} - {{permit_request.street_name}}, {{permit_request.street_number}}</h6>
  <hr>
  <form method="post">
    {% csrf_token %}

    {% for object_type, fields in object_types %}
      <h4>{{ object_type }}</h4>
      {% for field in fields %}
        {% bootstrap_field field layout='horizontal'%}
      {% endfor %}
    {% endfor %}

    {% buttons %}
      <a href="{% url 'permits:permit_request_select_objects' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock content-no-sidebar %}
