{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class = "container">
  <br>
  <h3>{% trans "Mon compte" %}</h3>
  <hr>
	<form method='POST' action='' enctype="multipart/form-data" novalidate id="actor-form">
		{% csrf_token %}
		{% bootstrap_form form layout='horizontal'%}
    {% if signupform %}
		  {% bootstrap_form signupform layout='horizontal'%}
      {% endif %} 
    {% bootstrap_button "Confirmer" button_type="submit" button_class="btn-primary" value="Enregistrer" %}
    <a href="{% url 'permits:permit_requests_list' %}" class="mr-2">{% trans "Annuler" %}</a>
    <br>
</div>
{% endblock %}
