{% extends "base_permits.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/js/jquery-ui-custom/jquery-ui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/contactform.css' %}">
{% endblock %}

{% block content-no-sidebar %}
<div class="container">
  {% permit_progressbar permit_request 'actors' %}
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <br>
    <h4>Adresse de facturation si différente de celle de l'auteur</h4>
    {% bootstrap_form creditorform layout='horizontal' %}
    <hr>
    <h3>{{ config.ACTORS_STEP }}</h3>
    <div id="forms-container">
       {% for form in formset %}
         {% bootstrap_form form layout='horizontal' %}
      <hr>
       {% endfor %}
     </div>
    {% buttons %}
      <a href="{% url 'permits:permit_request_appendices' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'libs/js/jquery-ui-custom/jquery-ui.js' %}"></script>
  <script src="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.js' %}"></script>
  <script>
      $("input[required]").each(function(){
        var label = $("label[for='" + $(this).attr('id') + "']");
        label.css("font-weight","bold");
        label.append(" *");

      });
  </script>
{% endblock %}
