{% extends "base_permits.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block title %}{% trans "Résumé et envoi" %}{% endblock %}

{% block content-no-sidebar %}
<div class="container">
  {% permit_progressbar permit_request 'submit' %}
  <h3>{% trans "Résumé et envoi" %}</h3>
  <hr>
  {% if incomplete_steps  %}
  <p>
    {% blocktrans trimmed %}
      Votre demande n'est pas complète mais elle est sauvegardée. Vous pouvez
      revenir dans l'application ultérieurement afin de la compléter. Une fois
      toutes les informations saisies, vous pourrez l'envoyer.
    {% endblocktrans %}
  </p>
  {% endif %}
  <p>
    {% trans "Vous trouverez ci-dessous un récapitulatif de votre demande." %}
  </p>

  {% permit_request_summary permit_request %}

  <form method="post">
    {% csrf_token %}
    {% buttons %}
    {% if incomplete_steps %}
      <a class="btn btn-primary" href="{{ incomplete_steps|first }}">{% trans "Renseigner les informations manquantes" %}</a>
    {% else %}
      <hr>
      <a class="btn btn-primary" href="{% url 'permits:permit_request_submit_confirmation' permit_request_id=permit_request.pk %}" class="mr-2">
      {% trans "Envoyer" %}</a>
      <a href="{% url 'permits:permit_request_actors' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
    {% endif %}
    {% endbuttons %}
  </form>
</div>
<br><br>
{% endblock content-no-sidebar %}
