{% extends "base_permits.html" %}

{% load i18n %}
{% load permits_extras %}

{% block content-no-sidebar %}
  <div class="container">
    <h1>{% blocktrans with request_id=permit_request.pk %}Demande #{{ request_id }}{% endblocktrans %}</h1>
    <p title="{{ permit_request.created_at }}">
      {% blocktrans with request_date=permit_request.created_at|timesince %}Créée il y a {{ request_date }}{% endblocktrans %}
    </p>
    <p>
      {% trans "Statut" %}: {{ permit_request.get_status_display }}
    </p>

    {% permit_request_summary permit_request %}

    <p>
      <a href="{% url 'permits:permit_requests_list' %}">{% trans "Retour à la liste des demandes" %}</a>
    </p>
  </div>
{% endblock %}
