{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container mt-3">
  <h3>{% trans "Renseignez les annexes" %}</h3>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for object_type, fields in object_types %}
      <h4>{{ object_type }}</h4>
      {% for field in fields %}
        {% bootstrap_field field %}
      {% endfor %}
    {% endfor %}

    {% buttons %}
    <a href="{% url 'permits:permit_request_properties' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
    <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock content %}
