{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/js/jquery-ui-custom/jquery-ui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.css' %}">
{% endblock %}
{% block scripts %}
  <script src="{% static 'libs/js/jquery-ui-custom/jquery-ui.js' %}"></script>
  <script src="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.js' %}"></script>
{% endblock %}

{% block content %}
  {% permit_progressbar permit_request 'properties' %}
  <h3>{{ config.PROPERTIES_STEP }} </h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% for object_type, fields in object_types %}
      <h4>{{ object_type }}</h4>
      {% for field in fields %}
        {% bootstrap_field field %}
      {% endfor %}
    {% endfor %}

    {% buttons %}
      <a href="{% url 'permits:permit_request_select_objects' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
