{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block content %}
  {% permit_progressbar steps StepType.SUBMIT %}
  <h3>{% trans "Résumé et envoi" %}</h3>
  <hr>
  {% if incomplete_steps  %}
  <p>
    {% blocktrans trimmed %}
      Votre demande n'est pas complète mais elle est sauvegardée. Vous pouvez
      revenir dans l'application ultérieurement afin de la compléter. Une fois
      toutes les informations saisies, vous pourrez l'envoyer.
    {% endblocktrans %}
  </p>
  {% endif %}
  <p>
    {% trans "Vous trouverez ci-dessous un récapitulatif de votre demande." %}
  </p>
  <form method="post">
    {% csrf_token %}
    {% buttons %}
    {% if incomplete_steps %}
      <a class="btn btn-primary" href="{{ incomplete_steps|first }}">{% trans "Renseigner les informations manquantes" %}</a>
    {% else %}
      {% if directives %}
        <div id="legal-infos">
          <h5>{% trans "Les directives ci-dessous font partie intégrante des conditions de l’octroi de la demande" %}</h5>
          {% for directive_file, directive_description, additional_information in directives %}
            <div{% if not forloop.last %} class="mb-3"{% endif %}>
              {% if directive_file and directive_description %}
                <span class="directive_description">{{ directive_description }}</span> - {% if directive_file %}<a class="directive_file" href="{{ directive_file.url }}" target="_blank" rel="noreferrer">{% trans "Télécharger le fichier" %}</a>{% endif %}<br>
              {% endif %}
              <span class="additional_information">{{ additional_information }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}  
      {% if previous_step.url %}
        <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
      {% endif %}
      <a class="btn btn-primary" href="{% url 'permits:permit_request_submit_confirmed' permit_request_id=permit_request.pk %}" class="mr-2">
      {% trans "Envoyer" %}</a>
    {% endif %}
    {% endbuttons %}
  </form>
  {% permit_request_summary permit_request %}
<br><br>
{% endblock %}
