{% extends "base_permits.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Envoi de la demande" %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h3 class="mt-2">{% trans "Envoyer votre demande ?" %}</h3>
    <form method="post">{% csrf_token %}
      <div id="legal-infos">
         <h5>Merci de prendre connaissance des directives et tarifs appliqués par la commune / l'entité {{ permit_request.administrative_entity.name }}</h5>
         <p>
           <b>Directives</b>
             <a href="{{permit_request.administrative_entity.legal_document.url}}" target="_blank">{% trans 'Télécharger le PDF' %}</a>
         </p>
           <b>Autres informations</b><br>
           {{ permit_request.administrative_entity.general_informations }}
     </div>
      <h4>{% trans "Détails de la demande:" %} </h4>
      <ul>
        <li>{% trans "Requérant:"%} {{ permit_request.author.user.first_name }}, {{ permit_request.author.user.last_name}}</li>
        <li>{% trans "Demande du:"%} {{ permit_request.created_at }}</li>
      </ul>
      <a class="btn btn-primary" href="{% url 'permits:permit_request_submit_confirmed' permit_request_id=permit_request.pk %}">{% trans "Confirmer l'envoi" %}</a>
      <a class="ml-2" href="{% url 'permits:permit_requests_list' %}">{% trans "Annuler" %}</a>
    </form>
  </div>
{% endblock %}
