{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}
{% load static %}
{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'customWidgets/GroupedCheckbox/groupedcheckbox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/permits.css' %}">
{% endblock %}


{% block content %}
  {% if permit_request %}
    {% permit_progressbar permit_request 'location' %}
  {% endif %}
  <h3>{{ config.LOCATION_STEP }}</h3>
  <hr>
  <form method="post">
    {% bootstrap_form_errors form %}
    {% csrf_token %}

    {% bootstrap_field form.administrative_entity show_label=False %}

    {% buttons %}
      <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
