{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load permits_extras %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>
  {% blocktrans with request_id=permit_request.pk %}
    Demande #{{ request_id }}
  {% endblocktrans %}
  {% if permit_request.is_public %}
    <span class="badge badge-pill badge-success">Publique</span>
  {% else %}
    <span class="badge badge-pill badge-danger">Privée</span>
  {% endif %}
</h1>

<p title=""></p>


<div class="row">
  <div class="col">
    {% include "permits/_permit_request_actions.html" %}
  </div>
</div>


<div class="row">
  <div class="col-md-4">

    <div class="row floating-elem">
      <div class="col">
        <dl>
        <dd>
          <h4>{% trans "Auteur-e" %}</h4>
        </dd>
        <dd>
          <a href="mailto:{{ permit_request.author }} <{{ permit_request.author.user.email }}>" target="_blank" rel="noreferrer">
            {{ permit_request.author.user.first_name }} {{ permit_request.author.user.last_name }} &lt;{{ permit_request.author.user.email }}&gt;
          </a>
        <dd>
          {{ permit_request.author.address }} {{ permit_request.author.zipcode }} {{ permit_request.author.city }}
        </dd>
        <dd>  
          {{ permit_request.author.phone_first }}  {{ permit_request.author.phone_second }}
        </dd>
        <dd>
          {{ permit_request.author.company_name }} {{ permit_request.author.vat_number }}
        </dd>
        <dd>
          {% if permit_request.validation_pdf %}
          <dd>
            {% trans "Document délivré :" %}
          </dd>
          <dd>
              <i class="fa fa-download" aria-hidden="true"></i>
              <a href="{{ permit_request.validation_pdf.url }}" target="_blank" rel="noreferrer">
                Télécharger le document PDF
              </a>
          </dd>
          {% endif %}
        </dd>
        </dl>

        {% if history %}

          <div id="history_timeline">
            <h4>{% trans "Historique" %}</h4>
            <ul>
              {% for archive in history %}
                {% if archive.status == permit_request.STATUS_PROCESSING and forloop.last %}
                  <li>
                    <div class="row-1">
                      <i class="fa fa-circle status{{archive.status}}"></i>
                      {{ archive.history_date }}</div>
                      <b>{% trans "Demande soumise par" %}</b>
                    </div>
                    <div class="row-2 history_user">
                      <b>{{ archive.history_user }}</b>
                    </div>
                  </li>
                {% else %}
                  <li>
                    <div class="row-1">
                      <i class="fa fa-circle status{{archive.status}}"></i>
                      {{ archive.history_date }}
                    </div>
                    <div class="row-2 status_display">
                      <b>{{ archive.get_status_display }}</b>
                    </div>
                    <div class="row-2 history_user">
                      ({{ archive.history_user }})
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-8">

    {% if validations %}

      <div class="row sub-row">
        <div class="col">
          <h2>{% trans "Données du service pilote" %}</h2>
          <dl>
            {% if permit_request.status %}
              <dt>{% trans "État" %}:</dt> <dd> {{ permit_request.get_status_display }} </dd>
            {% endif %}
          </dl>
        </div>
      </div>

      <div class="row sub-row">
        <div class="col">
          <h2>{% trans "Statut des validations" %}</h2>
          <dl>
            {% for validation in validations %}
              <dt> {{ validation.department.group.name }} </dt>
              <dd{% if validation.is_pending %} class="text-muted"{% endif %}>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {{ validation.get_validation_status_display }} par
                  {% if validation.validated_by %}
                    {{ validation.validated_by.permitauthor.user.first_name }} {{ validation.validated_by.permitauthor.user.last_name }} le {{ validation.validated_at }}
                  {% endif %}
                {% if validation.comment_before %}
                  <br>
                  <h5>{% trans "Commentaire (avant)" %}:</h5> {{ validation.comment_before }}
                {% endif %}
                {% if validation.comment_during %}
                  <br>
                  <h5>{% trans "Commentaire (pendant)" %}:</h5> {{ validation.comment_during }}
                {% endif %}
                {% if validation.comment_after %}
                  <br>
                  <h5>{% trans "Commentaire (après)" %}:</h5> {{ validation.comment_after }}
                {% endif %}
              </dd>
            {% endfor %}
          </dl>
          <br>
        </div>
      </div>

    {% endif %}

    {% if permit_request.can_be_prolonged and permit_request.prolongation_date %}

      <div class="row sub-row">
        <div class="col">
          <h2>{% trans "Statut de Prolongation" %}</h2>
          <dl>
          <dt>{{ permit_request.get_prolongation_status_display }}</dt>
          {% if permit_request.prolongation_comment %}
            <h6>{% trans "Commentaire" %}:</h6> {{ permit_request.prolongation_comment }}
          {% endif %}
          </dl>
          <br>
        </div>
      </div>

    {% endif %}

    <div class="row sub-row">
      <div class="col">
        <h2>{% trans "Résumé" %}</h2>

          {% permit_request_summary permit_request %}
      </div>
    </div>

    <div class="row sub-row">
      <div class="col">
        <p class="mt-4">
          <a href="{% url 'permits:permit_requests_list' %}">{% trans "Retour à la liste des demandes" %}</a>
        </p>
      </div>
    </div>

  </div>

</div>
{% endblock %}
