{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}
{% load static %}


{% block content %}
  {% if permit_request %}
    {% permit_progressbar steps StepType.ADMINISTRATIVE_ENTITY %}
  {% endif %}
  <h3>{{ config.LOCATION_STEP }}</h3>
  {% if filters %}
    {% trans "La liste ci-dessous est filtrée," %}<a class="ml-2" href="{% url 'permits:permit_request_select_administrative_entity' %}?clearfilter=true">{% trans "tout voir" %}</a>
  {% endif %}
  <br>
  <hr>
  <form method="post">
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_field form.administrative_entity show_label=False %}

    {% buttons %}
      <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
