{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load permits_extras %}

{% block content %}
  {% permit_progressbar permit_request StepType.WORKS_TYPES %}
  <h3>{{ config.WORKS_TYPES_STEP }}</h3>
  <hr>
  <form method="post">
    {% bootstrap_form_errors works_types_form %}

    {% csrf_token %}

    {% bootstrap_field works_types_form.types show_label=False %}

    {% buttons %}
      <a href="{% url 'permits:permit_request_select_administrative_entity' permit_request_id=permit_request.pk %}" class="mr-2">{% trans "Retour" %}</a>
      <button class="btn btn-primary">{% trans "Continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
