{% extends "base_permits.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Liste des demandes" %}{% endblock %}

{% block navbartitle %}
  <a class="navbar-brand" href="{% url 'permits:permit_requests_list'%}">{% trans "Demandes de permis" %}</a>
  <a href="{% url 'permits:administrative_infos' %}"><i class="fa fa-file"></i> Infos</a>
{% endblock %}

{% block content-no-sidebar %}
  <div class="container-fluid">
    <a class="btn btn-outline-primary" href="{% url 'permits:permit_request_select_administrative_entity'%}" role="button"><i class="fa fa-plus"></i> {% trans "Nouvelle demande" %}</a>
    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
      <i class="fa fa-filter"></i> {% trans "Filtrer" %}
    </a>
    <a class="btn btn-outline-primary" href="{% url 'permits:permit_requests_list' %}" role="button"><i class="fa fa-eraser"></i> {% trans "Effacer le filtre" %}</a>
    {% with request.user.groups.all|first as group %}
      {% if group.permitdepartment.administrative_entity.archive_link != '' %}
        {% if request.user.groups.all.count > 0 %}
          <a class="btn btn-outline-primary" href="{{group.permitdepartment.administrative_entity.archive_link}}" role="button"><i class="fa fa-archive"></i> {% trans "Archives" %}</a>
        {% endif %}
      {% endif %}
    {% endwith %}
    <hr>
    <p><b>Les demandes envoyées ne peuvent plus être modifiées</b></p>
    <p><a class="btn btn-outline-success btn-sm" href="{% url 'permits:listexport'%}?_export=csv" role="button">Exporter en CSV</a></p>

    {{ filter.form.media }}
    <form method="get">
      <div class="collapse" id="collapseFilter">
        <hr>
        {% bootstrap_form filter.form layout='horizontal' %}
        {% bootstrap_button "Appliquer le filtre" button_type="submit" button_class="btn-primary"%}
      </div>
    </form>
    <br>
    {% render_table table %}
  </div>
{% endblock %}
