{% extends "base_generic.html" %}
{% block navbartitle %}
  <a class="navbar-brand" href="{% url 'gpf:list'%}">Permis de fouille</a>
{% endblock %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}
{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/gpf.css' %}">
{% endblock %}
{% block script %}

{% endblock %}
{% block content %}
<br>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Voir les documents joints
  </a>
  <a class="btn btn-primary" href="#validations-anchor" role="button">
    Voir les validations
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul>
      {% if documents %}
        {% for document in documents %}
            <li> <a href="{% url 'gpf:file-download' document.pk %}">{{document.file_name}}</a></li>
        {% endfor %}
      {% else %}
        <li>Pas de documents liés à cette demande.</li>
      {% endif %}
    </ul>
  </div>
</div>
{{ form.media }}
    <form method="post">
        {% csrf_token %}
        <h3> Détails de la demande </h3>
        {% bootstrap_form form layout='horizontal'%}
        <hr>
        <br>
        {{ validation_formset.management_form }}
        <h3> Validations par les services </h3>
        <table>
            {% for subform in validation_formset %}
            {% bootstrap_form subform layout='horizontal'%}
            {% endfor %}
        </table>
        <hr id="validations-anchor">
        <div style="text-align:center">
          {% bootstrap_button "Enregister" button_type="submit" button_class="btn-primary" value="Enregistrer" %}
          <a class="btn btn-primary" href="{% url 'gpf:list' %}">Annuler</a>
        </div>
        <br>
    </form>
{% endblock %}
