{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}

  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}?sort=id">Gestion des permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}?sort=id">Gestion des permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block script %}

{% endblock %}
{% block content %}
<br>
<h3>Annoncer la fin du chantier</h3>
<hr>
{{ form.media }}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal'%}
        {% bootstrap_button "Confirmer" button_type="submit" button_class="btn-primary" value="Enregistrer" %}
        <p></p>
        <p>
          {% if user.groups.all.0.name == "extern" %}

            <a class="btn btn-primary" href="{% url 'gpf:listexterns'%}?sort=id">Annuler</a>
          {% else %}
            <a class="btn btn-primary" href="{% url 'gpf:list' %}?sort=id">Annuler</a>
          {% endif %}
        </p>
    </form>
{% endblock %}
