{% extends "base_generic.html" %}
{% load static %}
{% block stylesheets%}
  {% load fontawesome %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/gpf.css' %}">
{% endblock %}
{% block navbartitle %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}?sort=id">Permis de fouille</a>
{% endblock %}
{% load bootstrap4 %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Informations utiles
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% static 'doc/Directives_2017.pdf' %}">Directives</a>
        <a class="dropdown-item" href="{% static 'doc/Mode_refection_fouilles.pdf' %}">Mode de réfection</a>
        <a class="dropdown-item" href="{% url 'gpf:prices'%}">Tarifs</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Divers
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'gpf:serviceusers'%}">Lister les utilisateurs par service</a>
      </div>
    </li>
  </ul>
{% endblock %}
{% block content %}
</div>
{% if messages %}
    <div class="info-messages">
    {% for message in messages %}
    <p>{{ message }}<p>
    {% endfor %}
    </div>
{% endif %}
<div class="print-info-messages">
  <p>Impression en cours...<img src="{% static 'images/ajax-loader.gif' %}" width=25 height=25><p>
</div>
<hr>
{% if perms.gpf.add_permitrequest %}
  <a class="btn btn-primary" href="{% url 'gpf:actor_add'%}" role="button"><i class="fa fa-road"></i>&nbsp;Faire une nouvelle demande</a>
{% endif %}

<a class="btn btn-primary" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
  <i class="fa fa-filter"></i>&nbsp;Filtrer les demandes
</a>
<a class="btn btn-primary" href="{% url 'gpf:list' %}?sort=id" role="button"><i class="fa fa-eraser"></i>&nbsp;Effacer le filtre</a>
<div class="modal" id="nonIEModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Navigateur non supporté!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Cette application ne supporte pas Microsoft Internet Explorer 11 et plus anciennes. Merci d'utiliser un navigateur récent comme Chrome, Firefox, Edge ou encore Safari
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script>
if(navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > -1){
   $('#nonIEModal').modal('show');
}
</script>

<script>
    $(document).ready(function() {
        $('.print-info-messages').hide();
        $('.info-messages').show();
        setTimeout(function() {
            $('.info-messages').fadeOut('slow');
        }, 5000);

        waitMessage = function () {
          $('.print-info-messages').show();
          setTimeout(function() {
              $('.print-info-messages').fadeOut('slow');
          }, 5000);
        }

    });


</script>

{% load render_table from django_tables2 %}

  <style>

    #exports{
      float:right;
      margin-bottom: 10px;
    }

    .pagination a {
      margin-right: 2px;
    }

   .pagination .active a:link  {
      color: green !important;
      border:1px solid #007bff !important;
    }

  .pagination .active a:visited  {
     color: green !important;
     border:1px solid #007bff !important;
   }

  </style>

  {{ filter.form.media }}
  <form method="get">
    <div class="collapse" id="collapseFilter">
      <hr>
      {% bootstrap_form filter.form layout='horizontal' %}
      {% bootstrap_button "Appliquer le filtre" button_type="submit" button_class="btn-primary"%}
    </div>
    <div id=exports>
      <a class="btn btn-primary btn-sm" href="{% url 'gpf:listexport'%}?_export=xls" role="button">XLS</a>
      <a class="btn btn-primary btn-sm" href="{% url 'gpf:listexport'%}?_export=csv" role="button">CSV</a>
      <a class="btn btn-primary btn-sm" href="{% url 'gpf:listexport'%}?_export=ods" role="button">ODS</a>
    </div>
  </form>

{% render_table table %}

{% endblock %}
