{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}
  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}">Permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class = "container">
  <br>
  <h2>Les tarifs appliqués sont les suivants</h2>
  <hr>
  <h4>Yverdon-les-Bains</h4>
  <br>
  <p>
    Taxe de bases : CHF 40.-
  </p>
  <p>
    Taxe par jour ouvrable : CHF 20.-
  </p>
  <p>
      {% if user.groups.all.0.name == "extern" %}
       <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Retour aux permis de fouille</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'gpf:list' %}">Retour aux permis de fouille</a>
      {% endif %}
  </p>

</div>
{% endblock %}
