{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}

  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}?sort=id">Permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}?sort=id">Permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/gpf.css' %}">
{% endblock %}
{% block script %}

{% endblock %}
{% block content %}
{{ form.media }}
    <form method="post">
        {% csrf_token %}
        {% if show_company_form == 0 %}
          <br>
          <h3>Coordonnées de l'entreprise</h3>
          <hr>
            {% bootstrap_form unlinked_company_form layout='horizontal'%}
        {% endif %}
        <br>
        <h3>Description de la demande</h3>
        <p>
          Information relative aux coûts de la fouille: un tarif de CHF 40 par jour ouvrable est facturé
        </p>
        <hr>
        {% bootstrap_form form layout='horizontal'%}
        <div style="text-align:center">
        {% bootstrap_button "Confirmer" button_type="submit" button_class="btn-primary" value="Enregistrer" %}
        <p></p>
        {% if user.groups.all.0.name == "extern" %}
          <a class="btn btn-primary" href="{% url 'gpf:listexterns'%}?sort=id">Annuler</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'gpf:list' %}?sort=id">Annuler</a>
        {% endif %}
        </div>
        <hr>
        <br>
    </form>
    <br>
{% endblock %}
