{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}
  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}">Permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class = "container">
  <br>
  <h2>Utilisateurs par services</h2>
  <br>
  <ul>
      {% for gu in group_users %}
          <li>
              <h4>{{gu.group_name}}</h4>
              {% for user_detail in gu.user_details %}
                <b><p>{{user_detail.first_name}} {{user_detail.last_name}}</b> <a href="mailto:{{user_detail.email}}">{{user_detail.email}}</a></p>
              {% endfor %}
          </li>
      {% endfor %}
  </ul>
  <p>
      {% if user.groups.all.0.name == "extern" %}
       <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Retour à la liste des permis</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'gpf:list' %}">Retour à la liste des permis</a>
      {% endif %}
  </p>

</div>
{% endblock %}
