{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}
  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}">Permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class = "container">
  <br>
  <h3>Votre demande a bien été enregistrée</h3>
  <p>
    Une copie vous parviendra par email
  </p>
  <h3>Merci de prendre connaissance des documents ci-dessous</h3>
  <ul>
    <li><a href="{% static 'doc/Directives_2017.pdf' %}">Directives</a></li>
    <li><a href="{% static 'doc/Mode_refection_fouilles.pdf' %}">Mode de réfection</a></li>
  </ul>
  <p>
      {% if user.groups.all.0.name == "extern" %}
       <a class="navbar-brand" href="{% url 'gpf:listexterns'%}">Permis de fouille</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'gpf:list' %}">Permis de fouille</a>
      {% endif %}
  </p>

</div>
{% endblock %}
