{% extends "base_generic.html" %}
{% block navbartitle %}
{% if user.groups.all.0.name == "extern" %}

  <a class="navbar-brand" href="{% url 'gpf:listexterns'%}?sort=id">Gestion des permis de fouille</a>
{% else %}
  <a class="navbar-brand" href="{% url 'gpf:list' %}?sort=id">Gestion des permis de fouille</a>
{% endif %}
{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class = "container">
  <br>
  <h3>Documents</h3>
  <hr>
	<form method='POST' action='' enctype="multipart/form-data" novalidate id="upload-form">
		{% csrf_token %}
		{% bootstrap_form form %}
    {% bootstrap_button "Confirmer" button_type="submit" button_class="btn-primary" value="Enregistrer" %}
	</form>
  <br>
  <a class="btn btn-primary"
     href="{% url 'gpf:thanks' permit_id %}" role="button">
    Poursuivre sans joindre de fichier
  </a>
</div>
{% endblock %}
