
select[readonly] option, select[readonly] optgroup {
  display: none;
}

select[readonly] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white !important;
    border: 0;
    font-weight: bold;
}
