.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.sit-autocomplete {
    color: black;
    width: 350px;
    font-size: 12px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 500px) {

    .sit-autocomplete {
        font-size: 10px;
        width: 250px;
    }
}
