.required label {
  font-weight: bold;
}

.app-list li {
  margin: 0 0 15px 0;
  list-style-type: none;
}

.highlight-edit{
  box-shadow: 0 0 5px rgba(252, 200, 70, 1);
  border: 2px solid rgba(252, 200, 70, 1);
}

.info-messages {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  min-height: 15px;
  color: #155760;
  display: inline-block;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
}

.print-info-messages {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  min-height: 15px;
  color: #155760;
  display: inline-block;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
}

.responsive-btn {
  width: 245px;
}

#switchbaselayers {
  border-radius: 3px;
  border: 2px solid #007bff;
}
#switchbaselayers:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

@media all and (max-width: 799px){

  h3 {
    font-size: 1em;
  }

  .responsive-btn {
    margin-bottom: 10px;
    width: 245px;

  }

}
