{% load i18n %}{% autoescape off %}{% translate "Bonjour" %} {{ user.get_full_name }},

{% translate "Une demande de réinitialisation de mot de passe a été demandée." %}

{% translate "Veuillez vous rendre sur cette page et choisir un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Votre nom d'utilisateur, en cas d'oubli:" %} {{ user.get_username }}

{% translate "Avec nos meilleures salutations," %}
{% translate "L'application de gestion des demandes" %}


{% translate "Ceci est un e-mail automatique, veuillez ne pas y répondre." %}
{% endautoescape %}
