{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
  <br><br>
  <h2>Geocity</h2>
  <hr>
  <h3>Message de réinitialisation envoyé</h3>
  <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.

Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>

<a href="../../../" class="mr-2">{% translate "Retour" %}</a>
{% endblock %}
