{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block content %}

{% if validlink %}

<h2>Geocity</h2>
<hr>
<h3>{% translate "Choisissez un nouveau mot de passe!" %}</h3>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="{% translate 'Changer mon mot de passe' %}">
</form>

{% else %}

<p>{% translate "Le lien de réinitialisation du mot de passe est invalide, peut-être car il a déjà été utilisé. Merci de demander à nouveau une réinitialisation du mot de passe." %}</p>
<a href="{% url 'password_reset' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{% translate 'Réinitialiser le mot de passe' %}</a>

{% endif %}
{% endblock %}
