{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'libs/js/jquery-ui-custom/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.css' %}">
<script src="{% static 'libs/js/jquery-ui-custom/jquery-ui.js' %}"></script>


<script type="text/javascript">

    $( function() {

      $( "#{{ widget.attrs.id }}").autocomplete({
          classes: {
              "ui-autocomplete": "sit-autocomplete"
          },
          source: function( request, response ) {
              $.ajax({
                  url: "{{ widget.attrs.apiurl}}",
                  dataType: "json",
                  data: {
                      searchText: "{{ widget.attrs.search_prefix}}" + request.term,
                      limit: 20,
                      partitionlimit: 24,
                      type: 'locations',
                      sr: 2056,
                      lang: 'fr',
                      origins: "{{widget.attrs.origins}}"
                  },
                  success: function(data) {
                      let features = data.results;
                      let items = [];
                      for(let i=0; i<features.length; i++) {
                          let f = features[i];
                          let item = {
                              x: f.attrs.x,
                              y: f.attrs.y,
                              id: f.attrs.featureId,
                              label: f.attrs.label.replace('<b>', ' - ').replace('</b>',''),
                              value: f.attrs.detail,
                          }
                          items.push(item)
                      }
                      response(items);
                  }
              });
          },
          minLength: 2,
          select: function(event, ui) {
              $.ajax({
                  url: "{{ widget.attrs.apiurl_detail}}" +  ui.item.id,
                  dataType: "json",
                  data: {
                      returnGeometry: false
                  },
                  success: function(data) {
                    var nmr = data.feature.attributes.deinr;
                    if (nmr == null) {
                      nmr = '';
                    }
                    $( "#{{ widget.attrs.id }}").val(data.feature.attributes.strname1 + ' ' + nmr);
                    if ("{{ widget.attrs.zipcode_field }}" != "") {
                        $( "#id_{{ widget.attrs.zipcode_field }}").val(data.feature.attributes.plz4);
                    }
                    if ("{{ widget.attrs.city_field }}" != "") {
                        $( "#id_{{ widget.attrs.city_field }}").val(data.feature.attributes.plzname);
                    }
                  }
              });
          }
      });
    });

</script>

<div id="gmf_search_input">
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
</div>
