{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block content-fluid %}
{% if code %}
<form method="post" action="">
    {% csrf_token %}
    <div>
        <h4>Création de token, étape 2</h4>
        <label for="client_id">Client ID :</label><br>
        <input type="text" id="client_id" name="client_id" size="150"><br>
        <label for="client_secret">Client secret :</label><br>
        <input type="text" id="client_secret" name="client_secret" size="150"><br>
        <label for="code">Code :</label><br>
        <input type="text" id="code" name="code" value="{{code}}" size="150" readonly><br>
        <button class="btn btn-primary font-weight-bold left-button" type="submit">Envoyer</button>
        <br>
    </div>
</form>
{% elif access_token %}
    <h4>Création du token, étape 3</h4>
    <label for="access_token">access_token :</label><br>
    <input type="text" id="access_token" name="access_token" value="{{access_token}}" size="150" readonly><br>
    <label for="expires_in">expires_in :</label><br>
    <input type="text" id="expires_in" name="expires_in" value="{{expires_in}}" size="150" readonly><br>
    <label for="token_type">token_type :</label><br>
    <input type="text" id="token_type" name="token_type" value="{{token_type}}" size="150" readonly><br>
    <label for="scope">scope :</label><br>
    <input type="text" id="scope" name="scope" value="{{scope}}" size="150" readonly><br>
    <label for="refresh_token">refresh_token :</label><br>
    <input type="text" id="refresh_token" name="refresh_token" value="{{refresh_token}}" size="150" readonly><br>
{% else %}
<form method="post" action="">
    {% csrf_token %}
    <div>
        <h4>Création de token, étape 1</h4>
        <label for="client_id">Client ID :</label><br>
        <input type="text" id="client_id" name="client_id" size="150"><br>
        <button class="btn btn-primary font-weight-bold left-button" type="submit">Envoyer</button>
        <br>
    </div>
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/oauth2_token.js' %}"></script>
{% endblock %}
