<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Demandes d'autorisations</title>
    {% load static %}
    {% load i18n %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block script%}
      <script src="https://use.fontawesome.com/006d51a83c.js"></script>
    {% endblock %}
    {% block stylesheets%}
      <link rel="stylesheet" type="text/css" href="{% static 'css/permits.css' %}">
    {% endblock %}
    <link rel="icon" href="{% static 'images/logo.svg'%}" type="image/svg" sizes="16x16">
    <style>
      :root {
      --background-color: {{ config.BACKGROUND_COLOR }};
      --primary-color: {{ config.PRIMARY_COLOR }};
      --secondary-color: {{ config.SECONDARY_COLOR }};
      --text-color: {{ config.TEXT_COLOR }};
      --title-color: {{ config.TITLE_COLOR }};
      --table-color: {{ config.TABLE_COLOR }};
      }
    </style>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    {% block navbartitle %}
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="{% url 'permits:permit_requests_list'%}">{% trans "Demandes d'autorisations" %}</a>
        {% if user.is_authenticated %}
        <a id="infoLink" class="nav-link d-none d-md-block" href="{% url 'permits:administrative_infos' %}"><i class="fa fa-file"></i> Infos</a>
        {% endif %}
      </div>
    {% endblock %}

    {% if user.is_authenticated %}
      <!-- On desktop -->
      <div class="position-relative d-none d-md-block">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
          {% block connected_user %}<b>{{ user.get_username }}</b>{% endblock %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Changer mon mot de passe" %}</a>
          <a class="dropdown-item" href="{% url 'permit_author_edit' %}">{% trans "Modifier mon compte" %}</a>
          {% if ENABLE_2FA %}
          <a class="dropdown-item" href="{% url 'two_factor:profile' %}">{% trans "Account Security" %}</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Me déconnecter" %}</a>
        </div>
      </div>

      <!-- On mobile -->

      <button class="navbar-toggler d-flex d-md-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex d-md-none">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'permits:administrative_infos' %}">{% trans "Informations des communes / entités" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'password_change' %}">{% trans "Changer mon mot de passe" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'permit_author_edit' %}">{% trans "Modifier mon compte" %}</a>
          </li>
          {% if ENABLE_2FA %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'two_factor:profile' %}">{% trans "Account Security" %}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% trans "Me déconnecter" %}</a>
          </li>
        </ul>
      </div>

    {% endif %}
  </nav>
  {% if messages %}
    <div class="container-fluid mb-4">
      {% for message in messages %}
        <div class="alert
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          alert-danger
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          alert-success
          {% endif %}
          ">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
    <div class="container mb-4">
      {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
      {% block content-fluid %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
