{% with id=widget.attrs.id %}
<ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
  {% for group, options, index in widget.optgroups %}
    {% if group %}<div class="administrative-entity-fieldgroup">{% endif %}
    <div class="group-title"></div>
    {% for option in options %}
      <div class="input-group">
        <input type="radio" name="administrative_entity" value={{option.value}} id="{{option.attrs.id}}" required="" 
        {% if option.selected %} checked {% endif %} >
        <label for="{{option.attrs.id}}">{{option.label}}</label>
      </div>
    {% endfor %}
    {% if group %}</div>{% endif %}
  {% endfor %}
</ul>{% endwith %}
