{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <h3 class="mt-2">{% trans "Effacer l'archive ?" %}</h3>
  <form method="post">
    {% csrf_token %}
    <p>{% trans "Êtes vous sûr de vouloir supprimer l'archive n°" %}{{ object.pk }} ?</p>
    {% bootstrap_button "Confirmer" button_type="submit" button_class="btn-primary" value="Confirmer" %}
    <a class="ml-2" href="{% url 'submissions:archived_submission_list' %}">{% trans "Annuler" %}</a>
  </form>
{% endblock %}
