{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}


{% block content %}
  <div class="card">
    <div class="card-body alert-success">
      <div class="mb-4">
        Merci pour votre paiement.
        Votre transaction a été traitée avec succès.
      </div>
      <div class="mb-4">
        <a class="btn btn-primary" href="{% url 'submissions:submissions_list' %}">Revenir sur la liste des demandes</a>
      </div>
    </div>
  </div>
{% endblock %}
