{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}

{% block content %}
  {% submission_progressbar steps StepType.FORMS %}
  <h3>{{ current_step_title }}</h3>

  {% if typefilter and not user.userprofile.is_temporary %}
    {% trans "La liste ci-dessous est filtrée," %} <a href="{% url 'submissions:submission_select_forms' submission_id=submission.pk %}"><b>{% trans "voir toutes les possibilités" %}</b></a>
  {% endif %}

  <hr>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors forms_selection_form %}

    {% for field in forms_selection_form %}
      {% bootstrap_field field show_label=False %}
    {% endfor %}

    {% buttons %}
      {% if previous_step.url %}
        <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
      {% endif %}
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
