{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<h3>{% translate "Add a new prestation" %}</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="text-right">
        <input name="action" type="hidden" value="add_prestation">
        <button class="btn btn-primary" name="save">
          {% translate "Save" %}
        </button>
        <button class="btn btn-primary" name="save_continue">
          {% translate "Save and add a new prestation" %}
        </button>
    </div>
  </form>
{% endblock %}
