{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <h3 class="mt-2">{% translate "Supprimer la prestation ?" %}</h3>
  <hr>
  <p>
    {% translate "Êtes-vous certain de vouloir supprimer la prestation suivante: " %}
  </p>
  <form method="GET">
    {% csrf_token %}
    {% bootstrap_form service_fees_form layout='horizontal' %}
  </form>
  <hr>
  <form method="POST">
    {% csrf_token %}

    <div class="text-right">
      <button class="btn btn-primary" name="confirm" type="submit" value="Confirm"
        title="{% translate 'Supprimer définitivement la prestation.' %}">
        <i class="fa fa-trash fa-trash-white" aria-hidden="true"></i>&nbsp;
        {% translate "Confirmer la suppression" %}
      </button>
      <button class="btn btn-primary" name="cancel" type="submit" value="Cancel"
        title="{% translate 'Annuler la suppression de la prestation et revenir l\'onglet général des prestations.' %}">
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
        {% translate "Annuler" %}
      </button>
    </div>
  </form>

{% endblock %}
