{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}

{% block content %}
  {% submission_progressbar steps StepType.SUBMIT %}
  <h3>{% trans "Résumé et envoi" %}</h3>
  <hr>
  {% if directives %}
    <div id="legal-infos">
      {% for directive_file, directive_description, additional_information in directives %}
        <div{% if not forloop.last %} class="mb-3"{% endif %}>
          {% if directive_file and directive_description %}
            <span class="directive_description">{{ directive_description }}</span>:
            <i class="fa fa-download" aria-hidden="true"></i>
            <a class="directive_file" href="{{ directive_file.url }}" target="_blank" rel="noreferrer">{% trans "Télécharger la directive" %}</a>
            <br>
          {% endif %}
          {% if additional_information %}
            <span class="additional_information">{{ additional_information|safe }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if incomplete_steps  %}
    <p>
      {% blocktrans trimmed %}
        Votre demande n'est pas complète mais elle est sauvegardée. Vous pouvez
        revenir dans l'application ultérieurement afin de la compléter. Une fois
        toutes les informations saisies, vous pourrez l'envoyer.
      {% endblocktrans %}
    </p>
    <p>
      <a class="btn btn-primary" href="{{ incomplete_steps|first }}">{% trans "Renseigner les informations manquantes" %}</a>
    </p>
  {% endif %}
  <p>
    {% trans "Vous trouverez ci-dessous un récapitulatif de votre saisie." %}
  </p>
  <form method="post">
    {% csrf_token %}
    {% buttons %}
      {% if not incomplete_steps %}
        {% if previous_step.url %}
          <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'submissions:submission_submit_confirmed' submission_id=submission.pk %}" class="mr-2">
        {% trans "Envoyer" %}</a>
      {% endif %}
    {% endbuttons %}
  </form>
  <div class="row">
    <div class="col">
        {% submission_summary submission %}
    </div>
  </div>
{% endblock %}
