{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}
{% load render_table from django_tables2 %}

{% block content %}

  <h3>{% translate "Demande de prolongation de permis" %}</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ submission_prolongation_form.media }}
    {% bootstrap_form submission_prolongation_form %}

    {% include "submissions/_submission_prices.html" %}
    {% buttons %}
    <div class="text-right">
      <a href="{% url 'submissions:submissions_list' %}" class="mr-2">{% translate "Retour à la liste des demandes" %}</a>
      <button class="btn btn-primary">
        {% if submission.requires_online_payment %}
          {% translate "Payer" %}
        {% else %}
          {% translate "Enregistrer" %}
        {% endif %}
      </button>
    </div>
    {% endbuttons %}
  </form>
{% endblock %}
