{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/js/jquery-ui-custom/jquery-ui.min.css' %}">
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/submissions_submit.js' %}"></script>
{% endblock %}


{% block content %}
  {% submission_progressbar steps StepType.SUBMIT %}
  <h3>{% trans "Résumé et envoi" %}</h3>
  <hr>

  {% directives_and_legal submission %}


  {% if submission.administrative_entity.signature_sheet and submission.administrative_entity.signature_sheet_description %}
  <div id="legal-infos">
    <h5>{% trans "Volet de transmission" %}</h5>
    <div class="additional_information">{{ submission.administrative_entity.signature_sheet_description|safe }}</div>
    <br>
    <i class="fa fa-download" aria-hidden="true"></i>
    <a class="directive_file" href="{{ submission.administrative_entity.signature_sheet.url }}" target="_blank"
      rel="noreferrer">{% trans "Télécharger le volet de transmission pour impression et signature" %}
    </a>
  </div>
  {% endif %}

  {% if incomplete_steps %}
    <p>
      {% blocktrans trimmed %}
        Votre demande n'est pas complète mais elle est sauvegardée. Vous pouvez
        revenir dans l'application ultérieurement afin de la compléter. Une fois
        toutes les informations saisies, vous pourrez l'envoyer.
      {% endblocktrans %}
    </p>
    <p>
      <a class="btn btn-primary"
         href="{{ incomplete_steps|first }}">{% trans "Renseigner les informations manquantes" %}</a>
    </p>
  {% endif %}

  {% if not incomplete_steps and should_go_to_payment %}
    {% if not submission.get_submission_price %}
      <div class="alert alert-danger mb-4">
        <div class="mb-4">
          {% blocktrans trimmed %}
            Vous devez choisir un tarif à l'étape "Détails"
          {% endblocktrans %}
          <hr/>
        </div>
        <div class="mb-4">
          <a href="{% url 'submissions:submission_fields' submission_id=submission.pk %}"
             class="btn btn-primary">{% trans "Retour" %}</a>
        </div>
      </div>
    {% else %}
      <div class="alert alert-info mb-4">
        <div class="mb-4">
          {% blocktrans trimmed %}
            Avant de continuer, nous vous demandons de vérifier les détails de votre demande pour vous assurer que tout est correct.
            Lorsque vous êtes prêt à procéder au paiement, cliquez sur le bouton Payer maintenant pour être redirigé vers l’interface de paiement sécurisée.
          {% endblocktrans %}
          <hr/>
        </div>
        <div class="mb-4">
          {% blocktrans trimmed with text=submission.get_submission_price.text amount=submission.get_submission_price.amount currency=submission.get_submission_price.currency %}
            <p>Vous avez sélectionné <strong>{{ text }}</strong> au prix de
              <strong>{{ amount }} {{ currency }}</strong>
            </p>
          {% endblocktrans %}
        </div>
        <div class="mb-4">
          {% if previous_step.url %}
            <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
          {% endif %}
          <a class="btn btn-primary{% if has_any_form_with_exceeded_submissions %} ui-state-disabled{% endif %}"
           href="{% if has_any_form_with_exceeded_submissions %}#
{% else %}{% url 'submissions:submission_payment_redirect' pk=submission.pk %}
{% endif %}" class="mr-2">
            {% trans "Payer maintenant" %}
          </a>
          {% if has_any_form_with_exceeded_submissions %}
            <span class="text-danger font-weight-bold mx-2">
             {{ submission.get_maximum_submissions_message }}
            </span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  <p>
    {% trans "Vous trouvez ci-dessous un récapitulatif de votre saisie." %}
  </p>
  {% if not incomplete_steps and not should_go_to_payment %}
    <form method="post">
      {% csrf_token %}
      {% buttons %}
        {% if previous_step.url %}
          <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
        {% endif %}
        <a class="btn btn-primary{% if has_any_form_with_exceeded_submissions %} ui-state-disabled{% endif %}"
           href="{% if has_any_form_with_exceeded_submissions %}#
{% else %}{% url 'submissions:submission_submit_confirmed' submission_id=submission.pk %}
{% endif %}" class="mr-2">
          {% trans "Envoyer" %}</a>
          {% if has_any_form_with_exceeded_submissions %}
            <span class="text-danger font-weight-bold mx-2">
              {{ submission.get_maximum_submissions_message }}
            </span>
          {% endif %}
      {% endbuttons %}
    </form>
  {% endif %}
  <div class="row">
    <div class="col">
      {% submission_summary submission %}
    </div>
  </div>
  {% if not incomplete_steps and not should_go_to_payment %}
    <form method="post">
      {% csrf_token %}
      {% buttons %}
        {% if previous_step.url %}
          <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
        {% endif %}
        <a class="btn btn-primary{% if has_any_form_with_exceeded_submissions %} ui-state-disabled{% endif %}"
           href="{% if has_any_form_with_exceeded_submissions %}#
{% else %}{% url 'submissions:submission_submit_confirmed' submission_id=submission.pk %}
{% endif %}" class="mr-2">
          {% trans "Envoyer" %}</a>
          {% if has_any_form_with_exceeded_submissions %}
            <span class="text-danger font-weight-bold mx-2">
              {{ submission.get_maximum_submissions_message }}
            </span>
          {% endif %}
      {% endbuttons %}
    </form>
  {% endif %}
{% endblock %}
