{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<h3>{% translate "Modifier une prestation" %}</h3>
  <hr>
  <form method="POST">
    {% csrf_token %}
    {{ service_fees_form.media }}
    {% bootstrap_form service_fees_form layout='horizontal' %}

    <div class="text-right">
        <input name="action" type="hidden" value="update_service_fee">
        <button class="btn btn-primary" name="save">
          {% translate "Enregistrer" %}
        </button>
        <button class="btn btn-primary" name="cancel">
          {% translate "Annuler" %}
        </button>
    </div>
  </form>
{% endblock %}
