{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<h3>
  {% translate "Ajouter une nouvelle prestation de type " %}
  {% if mode == "hourly_rate" %}
    {% translate "horaire" %}
  {% elif mode == "fix_price" %}
    {% translate "forfaitaire" %}
  {% endif %}
</h3>
  <hr>
  <form method="POST">
    {% csrf_token %}
    {{ service_fees_form.media }}
    {% bootstrap_form service_fees_form layout='horizontal' %}

    <div class="text-right">
      <input name="action" type="hidden" value="create_service_fee">
      <button class="btn btn-primary" name="save" type="submit" value="Save"
        title="{% translate 'Enregistrer la prestation et revenir à la l\'onglet général des prestations.' %}">
        <i class="fa fa-save" aria-hidden="true"></i>&nbsp;
        {% translate "Enregistrer" %}
      </button>
      <button class="btn btn-primary" name="save_continue" type="submit" value="Save_Continue"
        title="{% translate 'Enregistrer la prestation et permettre d\'en créer une nouvelle directement.' %}">
        <i class="fa fa-save" aria-hidden="true"></i>&thinsp;<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
        {% translate "Enregistrer et ajouter une nouvelle prestation de même type" %}
      </button>
      <button class="btn btn-primary" name="cancel" type="submit" value="Cancel"
        title="{% translate 'Annuler la création de la prestation sans l\'enregistrer.' %}"
        onclick="javascript:history.back();">
          <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
          {% translate "Annuler" %}
      </button>
    </div>
  </form>
{% endblock %}
