{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <h3 class="mt-2">{% translate "Supprimer la prestation ?" %}</h3>
  <hr>
  <p>
    {% translate "Êtes-vous certain de vouloir supprimer la prestation suivante: " %}
  </p>
  <form method="GET">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  </form>
  <form method="POST">
    {% csrf_token %}

    <div>
      <button class="btn btn-primary" name="confirm" type="submit" value="Confirm">
        {% translate "Confirmer la suppression" %}
      </button>
      <button class="btn btn-primary" name="cancel" type="submit" value="Cancel">
        {% translate "Annuler" %}
      </button>
    </div>
  </form>

{% endblock %}
