{% load i18n %}
{% load static %}

<style>
  @page {
   size: A4;
   font-family: arial, sans-serif;
   font-size: 10px;
   margin-top: 25px;
   @bottom-right {
     content: "page " counter(page) "/" counter(pages);
   }
   @bottom-left {
     content: "Tél.: {{ administrative_entity.phone }}";
   }
   @bottom-center {
     content: "{{ administrative_entity.link }}";
   }
  }
</style>
<div id=header>
  <img id="logo_main" src="data:image/png;base64,{{logo_main}}" alt="">
  <img id="logo_secondary" src="data:image/png;base64,{{logo_secondary}}" alt="">
</div>
<div class="banner_center">
  <h2>{% trans "Demande N°" %}{{ permit_request.id }}</h2>
</div>
<hr>
<br><br>


{% if objects_infos %}
<h3>{% trans "Objet(s) de la demande" %}</h3>
  {% for object, properties, appendices, amend_custom_properties in objects_infos %}
  <h4>{{ object }}</h4>
    {% for field in properties %}
      {{ field.label }}: 
        {% if not field.value %}
          <em>{% trans "Information non fournie" %}</em>
        {% else %}
          {{ field.value }}
        {% endif %}
        <br>
    {% endfor %}

    {% for field in appendices %}
      {{ field.label }}: 
        {% if not field.value %}
          <em>{% trans "Information non fournie" %}</em>
        {% else %}
          <a href="{{ field.value.url }}" target="_blank">{{ field.value.name }}</a>
        {% endif %}
        <br>
    {% endfor %}

    {% if amend_custom_properties %}
      <h5>{% trans "Information du service responsable" %}</h5>
      {% for object_property in amend_custom_properties %}
          {{ object_property.property }}: 
          {{ object_property.value }}
          <br>
      {% endfor %}
    {% endif %}

  </dl>
{% endfor %}
{% endif %}

{% if geo_times %}
  <h3>{% trans "Agenda" %}</h3>
    <table>
      {% for geo_time in geo_times %}
        {% if geo_time.starts_at %}
        <tr>
          <td class="validation-table-left">
            <p>{% trans "Date de début :" %}</p>
          </td>
          <td class="validation-table-right">
              <p> {{ geo_time.starts_at }}</p>
          </td>
          
        </tr>
        {% endif %}
        {% if geo_time.ends_at %}
        <tr>
          <td class="validation-table-left">
            <p>{% trans "Date de fin :" %}</p>
          </td>
          <td class="validation-table-right">
              <p>{{ geo_time.ends_at }}</p>
          </td>
        </tr>
        {% endif %}
        {% if geo_time.comment %}
          <tr>
            <td class="validation-table-left">
              <p>{% trans "Commentaire :" %}</pr>
            </td>
            <td class="validation-table-right">
                <p>{{ geo_time.comment|default:"Information non fournie" }}</p>
            </td>
          </tr>
        {% endif %}
        {% if geo_time.external_link %}
          <tr>
            <td class="validation-table-left">
              <p>{% trans "Lien externe :" %}</p>
            </td>
            <td class="validation-table-right">
                <p>{{ geo_time.external_link|default:"Information non fournie" }}</p>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
{% endif %}


{% if author %}
  <p style="page-break-before: always"></p>
  <h3>{% trans "Auteur de la demande" %}</h3>
  <table>
        <tr>
          <td class="validation-table-left">
            <b>Prénom: </b>
          </td>
          <td class="validation-table-right">
              {{author.user.first_name|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Nom: </b>
          </td>
          <td class="validation-table-right">
              {{author.user.last_name|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Email: </b>
          </td>
          <td class="validation-table-right">
              {{author.user.email|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Adresse: </b>
          </td>
          <td class="validation-table-right">
              {{author.address|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>NPA: </b>
          </td>
          <td class="validation-table-right">
              {{author.zipcode|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Ville: </b>
          </td>
          <td class="validation-table-right">
              {{author.city|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Téléphone principal: </b>
          </td>
          <td class="validation-table-right">
              {{author.phone_first|default:"Information non fournie"}}
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <b>Téléphone secondaire: </b>
          </td>
          <td class="validation-table-right">
              {{author.phone_second|default:"Information non fournie"}}
          </td>
        </tr>
  </table>
{% endif %}

{% if contacts %}
  <h3>{% trans "Contact(s)" %}</h3>
      {% for contact_type, contact_infos in contacts %}
        <h4>Type de contact: {{ contact_type }}</h4>
          <table>
            {% for contact_label, contact_value in contact_infos %}
              {% if contact_label %}
                <tr>
                  <td class="validation-table-left">
                    {{ contact_label }}:
                  </td>
                  <td class="validation-table-right">
                    {{ contact_value|default:"Information non fournie"}}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
      {% endfor %}
{% endif %}

{% if validations %}
  <h3>{% trans "Remarques des services consultés" %}</h3>
  <table>
    <tr>
      <th>{% trans "Service" %}</th>
      <th>{% trans "Commentaire" %}</th>
    </tr>
    {% for validation in validations %}
    {% if validation.comment_before or validation.comment_during or validation.comment_after %}
      <tr>
        <td class="validation-table-left">
          {{validation.department}}
        </td>
        <td class="validation-table-right">
          {% if validation.comment_before %}
            <h4>{% trans "Avant" %}</h4>
              <p>{{validation.comment_before}}</p>
          {% endif %}
          {% if validation.comment_during %}
          <h4>{% trans "Pendant" %}</h4>
            <p>{{validation.comment_during}}</p>
          {% endif %}
          {% if validation.comment_after %}
          <h4>{% trans "Après" %}</h4>
            <p>{{validation.comment_after}}</p>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endif %}

{% if permit_request.intersected_geometries %}
  <h4>{% trans "Éléments géographiques touchés par la demande" %}</h4>
  <table>
    <tr>
      <td>{{ permit_request.intersected_geometries|safe }}</td>
    </tr>
  </table>
{% endif %}


<p style="page-break-before: always" ></p>
<br><br><br>
<h3>{% trans "Signatures" %}</h3>
<br><br><br><br><br><br>
<hr>
<div class="row">
  <div class="column">
    <b>{{ administrative_entity.title_signature_1 }}</b>
      <p>  <img id="image_signature_1" src="data:image/png;base64,{{image_signature_1}}" alt=""></p>
  </div>
  <div class="column">
    <b>{{ administrative_entity.title_signature_2 }}</b>
      <p>  <img id="image_signature_2" src="data:image/png;base64,{{image_signature_2}}" alt=""></p>
  </div>
</div>
<div id="print_date">{% trans "pdf du " %}{{print_date}}</div>

{% if map_image %}
  <p style="page-break-before: always" ></p>
  <h3>{% trans "Plan de situation" %}</h3>
  <div id="print-map-container">
    <img src="{{map_image}}" alt="" class="map-print-image">
  </div>
{% endif %}

