{% load i18n %}
{% load static %}

<style>
  @page {
   size: A4;
   font-family: arial, sans-serif;
   font-size: 10px;
   margin-top: 25px;
   @bottom-right {
     content: "page " counter(page) "/" counter(pages);
   }
   @bottom-left {
     content: "Tél.: {{ administrative_entity.phone }}";
   }
   @bottom-center {
     content: "{{ administrative_entity.link }}";
   }
  }
</style>

<div id=header>
  <img id="logo_main" src="data:image/png;base64,{{logo_main}}" alt="">
  <img id="logo_secondary" src="data:image/png;base64,{{logo_secondary}}" alt="">
</div>
<div class="banner_center">
  Permis N°{{ permit_request.id }}
</div>

<hr>

{% if objects_infos %}
  <h3>Objet(s) du permis</h3>
    <table>
      <tr>
        <th>Champ</th>
        <th>Valeur</th>
      </tr>
      {% for object, properties, appendices in objects_infos %}
        <tr>
          <td class="validation-table-left">
            <p>Objet N°{{ object.id }}</p>
          </td>
          <td class="validation-table-right">
            {% if not object %}
              <em>{% trans "Information non fournie" %}</em>
            {% else %}
              <h4>{{ object }}</h4>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
{% endif %}

{% if geo_times %}
  <h3>Agenda</h3>
    <table>
      <tr>
        <th>Champ</th>
        <th>Valeur</th>
      </tr>
      {% for geo_time in geo_times %}
        <tr>
          <td class="validation-table-left">
            <p>Date de début :</p>
          </td>
          <td class="validation-table-right">
              <p> {{ geo_time.starts_at }}</p>
          </td>
        </tr>
        <tr>
          <td class="validation-table-left">
            <p>Date de fin :</p>
          </td>
          <td class="validation-table-right">
              <p>{{ geo_time.ends_at }}</p>
          </td>
        </tr>
        {% if geo_time.comment %}
          <tr>
            <td class="validation-table-left">
              <p>Commentaire :</pr>
            </td>
            <td class="validation-table-right">
              {% if not geo_time.comment %}
                <em>{% trans "Information non fournie" %}</em>
              {% else %}
                <p>{{ geo_time.comment }}</p>
              {% endif %}
            </td>
          </tr>
        {% endif %}
        {% if geo_time.external_link %}
          <tr>
            <td class="validation-table-left">
              <p>Lien externe :</p>
            </td>
            <td class="validation-table-right">
              {% if not geo_time.external_link %}
                <em>{% trans "Information non fournie" %}</em>
              {% else %}
                <p>{{ geo_time.external_link }}</p>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
{% endif %}

{% if objects_infos %}
  {% for object, properties, appendices in objects_infos %}

    {% if properties %}
      <h3>Détails</h3>
        <table>
          <tr>
            <th>Champ</th>
            <th>Valeur</th>
          </tr>
          {% for property in properties %}
            <tr>
              <td class="validation-table-left">
                {{ property.label }} :
              </td>
              <td class="validation-table-right">
                <p>
                {% if not property.value %}
                  <em>{% trans "Information non fournie" %}</em>
                {% else %}
                  <p>{{ property.value }}</p>
                {% endif %}
                </p>
              </td>
            </tr>
          {% endfor %}  
        </table>
    {% endif %}
    
    {% if appendices %}
      <h3>Documents</h3>
        <table>
          <tr>
            <th>Champ</th>
            <th>Valeur</th>
          </tr>
          {% for appendice in appendices %}
            <tr>
              <td class="validation-table-left">
                <p>Annexe :</p>
              </td>
              <td class="validation-table-right">
                <p>
                {% if not appendice.value %}
                  <em>{% trans "Information non fournie" %}</em>
                {% else %}
                  <a href="{{ appendice.value.url }}" target="_blank">{{ appendice.value.name }}</a>
                {% endif %}
                </p>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% endif %}

  {% endfor %}
{% endif %}

{% if validations %}
  <p style="page-break-before: always" ></p>
  <h3>Remarques des services consultés</h3>
  <table>
    <tr>
      <th>Service</th>
      <th>Commentaire</th>
    </tr>
    {% for validation in validations %}
      <tr>
        <td class="validation-table-left">
          {{validation.department}}
        </td>
        <td class="validation-table-right">
          <h5>{% trans "Avant" %}</h5>
            <p>{{validation.comment_before}}</p>
          <h5>{% trans "Pendant" %}</h5>
            <p>{{validation.comment_during}}</p>
          <h5>{% trans "Après" %}</h5>
            <p>{{validation.comment_after}}</p>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if contacts %}
  <p style="page-break-before: always"></p>
  <h3>Contact(s)</h3>
    <h4>{% trans "Auteur de la demande" %}</h4>
      <table>
        <tr>
          <th>Champ</th>
          <th>Valeur</th>
        </tr>
        {% for author_label, author_value in author.fields %}
          {% if author_label %}
            <tr>
              <td class="validation-table-left">
                <p>{{ author_label }}:</p>
              </td>
              <td class="validation-table-right">
              {% if not author_value %}
                <em>{% trans "Information non fournie" %}</em>
              {% else %}
                <p>{{ author_value }}</p>
              {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
      
      {% for contact_type, contact_infos in contacts %}
        <h4>{{ contact_type }}</h4>
          <table>
            <tr>
              <th>Champ</th>
              <th>Valeur</th>
            </tr>
            {% for contact_label, contact_value in contact_infos %}
              {% if contact_label %}
                <tr>
                  <td class="validation-table-left">
                    <p>{{ contact_label }}:</p>
                  </td>
                  <td class="validation-table-right">
                  {% if not contact_value %}
                    <em>{% trans "Information non fournie" %}</em>
                  {% else %}
                    <p>{{ contact_value }}</p>
                  {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
      {% endfor %}
{% endif %}


{% if map_image %}
  <p style="page-break-before: always" ></p>
  <h3> Plan de situation </h3>
  <div id="print-map-container">
    <img src="{{map_image}}" alt="" class="map-print-image">
  </div>
{% endif %}

<p style="page-break-before: always" ></p>
<h3> Signatures </h3>
<br><br><br>
<hr>
<div class="row">
  <div class="column">
    <b>{{ administrative_entity.title_signature_1 }}</b>
      <p>  <img id="image_signature_1" src="data:image/png;base64,{{image_signature_1}}" alt=""></p>
  </div>
  <div class="column">
    <b>{{ administrative_entity.title_signature_2 }}</b>
      <p>  <img id="image_signature_2" src="data:image/png;base64,{{image_signature_2}}" alt=""></p>
  </div>
</div>
<div id="print_date">pdf du {{print_date}}</div>
