@page {
  @top-center {
    content: "Demande n°{{submission.id}}";
  }

  @bottom-center {
    content: "{% now "DATETIME_FORMAT" %}";
  }  /* meta content (see https://www.quackit.com/css/at-rules/css_top-left-corner_at-rule.cfm) */
  @bottom-right-corner {
    content: counter(page);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
