#geometry-widget-id_geom .btn {
    width: 300px;
    margin: 10px;
}

#id_tags {
    width: 758px;
}

.selector select {
    overflow-x: auto;
}

/*Reduce select2 field width so that CRUD button remain visible*/
tr .select2 {
    width: 70% !important;
    background-color: red !important;
}
